[2013-04-05 15:33] sdrave opened #1 "Improve the implementation of Parametric"

[2013-04-05 15:37] sdrave opened #2 "Decide whether a grid boundary is allowed to have multiple BoundaryTypes"
This is currently undefined,

[2013-04-08 08:11] renefritze opened #3 "pickle/grid tests fail when run from make test"
This seems to be some weird issue with module imports from nose loader vs. pymortests.base._load_all()

[2013-04-08 08:12] renefritze opened #4 "host docs on readthedocs.org"
http://docs.pymor.org/ is routed properly, but building docs there produces still fails.

[2013-04-08 08:43] renefritze opened #5 "cleanup pandoc's redmine wiki conversion"

[2013-04-08 09:26] sdrave opened #6 "implement InstationaryLinearDiscretization"

[2013-04-08 09:31] sdrave opened #7 "decide how keys for caching should be generated"

[2013-04-08 09:33] sdrave opened #8 "add abstraction layer for numpy.ndarray so that we can easily connect to other (remote) backends"

[2013-04-08 09:34] sdrave opened #9 "add an unstructured grid"

[2013-04-08 09:37] sdrave opened #10 "add functional implementing Neumann boundary conditions to operators.cg"

[2013-04-08 09:38] sdrave opened #11 "add a basic plotting library"

[2013-04-08 09:41] renefritze opened #12 "setup.py should automatically pick up the right version"
currently it's stil hardcoded

[2013-04-08 09:42] sdrave opened #13 "let reductors take existing reduced discretizations as an argument to speed up reduction"

[2013-04-08 09:45] sdrave opened #14 "add a parallelization framework to pyMOR"

[2013-04-08 09:46] sdrave opened #15 "add a finite volume discretization"

[2013-04-08 09:47] sdrave opened #16 "add a dg discretization"

[2013-04-08 09:50] sdrave opened #17 "add POD"

[2013-04-08 09:51] sdrave opened #18 "write tutorial explaining the main concepts behind pyMor"

[2013-04-08 14:32] renefritze opened #19 "make all demos importable"

[2013-04-08 14:44] renefritze opened #20 "fixup docstrings for sphinx"
Currently there's hundreds of warnings when running sphinx on the codebase:

[2013-04-09 12:05] #4 closed, assigned to nobody

[2013-04-09 18:21] #20 closed, assigned to nobody

[2013-04-09 18:26] sdrave opened #21 "fix toctrees warnings during documentation generation"
There seems to be a clash between numpydoc and autosummary, resulting in over 8000 warnings of the form:

`<autosummary>:None: WARNING: toctree contains reference to nonexisting document 'generated/pymor.discreteoperators.basic.GenericLinearOperator.apply'`

[2013-04-10 13:36] sdrave opened #22 "Remove 'Inherits' section from docstrings"
Violates DRY

[2013-04-10 13:38] sdrave opened #23 "Patch IPython to display class inheritance when viewing class documentation"

[2013-04-10 16:11] sdrave opened #24 "rename discreteoperators package to operators"

[2013-04-10 17:00] #22 closed, assigned to sdrave

[2013-04-11 11:58] sdrave opened #25 "importing pymor causes error if cwd not inside pyMor repo"
pyMor tries to determine its version using git. If cwd is not inside the pyMor repo, this causes the following error message

[code]

Possible ways to fix this:
1. Determine the absolute path of the pyMor installation and launch git inside the correct directory
2. Show a sensible error message if this fails for some reason.

[2013-04-11 12:53] #23 closed, assigned to sdrave

[2013-04-11 13:13] #24 closed, assigned to nobody

[2013-04-11 13:21] sdrave opened #26 "'setup.py build' fails when numpy is not installed system-wide"
[code]

[2013-04-17 11:29] sdrave opened #27 "replace "pymor" with "pyMor" in copyright notice"
I would prefer

"This file is part of the pyMor project (www.pymor.org)."

anyway.

[2013-04-17 11:52] #27 closed, assigned to ftalbrecht

[2013-04-20 12:16] ftalbrecht opened #28 "Think about operators, linear operators and nonlinear operators"

[2013-04-20 13:13] ftalbrecht opened #29 "implement DuneRBsmMatrix(la.Matrix)"
which can work on a Matrix object provided by dune-rb in a shared memory environment

[2013-04-20 13:14] ftalbrecht opened #30 "implement DuneRBsmLinearOperator(OperatorInterface)"
i.e. in operators/dune.py which connects to an Operator object provided by dune-rb in a shared memory environment

[2013-04-20 13:15] ftalbrecht opened #31 "implement discretize_elliptic_dune()"
i.e. in discretizers/elliptic_dune.py which works on an example provided by dune-rb

[2013-04-20 13:17] ftalbrecht opened #32 "implement StationaryLinearDuneDiscretization(DiscretizationInterface)"
i.e. in discretizations/linear_dune.py which works on a Discretization object given by dune-rb

[2013-04-20 13:19] ftalbrecht opened #33 "implement DuneRBsmLinearAffinelyDecomposedOperator(OperatorInterface)"
i.e. in operatos/dune.py or combine DuneRBsmLinearOperator and LinearAffinelyDecomposedOperator

[2013-04-20 13:20] ftalbrecht opened #34 "implement DuneRBsmReconstructor"
i.e. in reconstructors/dune.py which works on a Discretization object given by dune-rb

[2013-04-20 13:21] ftalbrecht opened #35 "implement reduced_dune_rb"
i.e. in reductors/dune.py or see if reduced_generic_rb() works (I doubt it, becuase of the GenericReconstructor)

[2013-04-22 09:43] #25 closed, assigned to nobody

[2013-04-22 10:42] sdrave opened #36 "Documentation: Show which class members are inherited by which class"
This seems to be numpydocs fault. Without it, some basic information is displayed.

[2013-04-25 12:43] #26 closed, assigned to nobody

[2013-04-26 08:17] #19 closed, assigned to ftalbrecht

[2013-05-02 16:51] #8 closed, assigned to nobody

[2013-05-06 17:04] #1 closed, assigned to sdrave

[2013-05-09 11:45] andreasbuhr opened #37 ""pandoc" missing in the list of requirements"
After forking and cloning pyMor, I read README.txt and executed "make". Make required pandoc, but this was not in the list of requirements in README.txt

[2013-05-13 11:25] #37 closed, assigned to renefritze

[2013-05-21 16:29] sdrave opened #38 "clean up / extend wiki frontpage"

[2013-05-23 08:19] #12 closed, assigned to nobody

[2013-06-07 14:55] #7 closed, assigned to nobody

[2013-06-07 14:56] #35 closed, assigned to ftalbrecht

[2013-06-07 14:57] sdrave opened #39 "Make all Grids, Operators and Discretizations immutable"

[2013-06-07 14:57] #34 closed, assigned to ftalbrecht

[2013-06-07 14:58] #33 closed, assigned to ftalbrecht

[2013-06-07 14:58] sdrave opened #40 "revamp caching based on sid mechanism"
Maybe also use a SidRegistry?

[2013-06-07 14:59] #32 closed, assigned to ftalbrecht

[2013-06-07 14:59] #31 closed, assigned to ftalbrecht

[2013-06-07 14:59] #30 closed, assigned to ftalbrecht

[2013-06-07 15:00] sdrave opened #41 "add sid to Parameters"
The current key generation of Parameters based on pickling is way to slow.

[2013-06-07 15:00] #29 closed, assigned to ftalbrecht

[2013-06-07 15:00] #28 closed, assigned to nobody

[2013-06-07 15:01] sdrave opened #42 "stabilize VectorArray interface"
@ftalbrecht, please have a look at the current interface.

[2013-06-07 15:04] sdrave opened #43 "implement with() method for immutable objects to provide copies with changed attributes"
Also consider generating warnings when changing immutable objects and providing a whitelist for attributes which actually are mutable.

[2013-06-07 15:04] sdrave opened #44 "finalize Burgers example"

[2013-06-07 15:05] #17 closed, assigned to nobody

[2013-06-07 15:09] #5 closed, assigned to nobody

[2013-06-07 15:11] sdrave opened #45 "add a way to install all dependencies when working on git repo"

[2013-06-07 15:11] sdrave opened #46 "document how to use build_ext"

[2013-06-07 15:12] sdrave opened #47 "add missing documentation"

[2013-06-07 15:12] sdrave opened #48 "test VectorArray interface"

[2013-06-07 15:13] sdrave opened #49 "test Operator interface"

[2013-06-07 15:13] sdrave opened #50 "move dune bindings from playground to a more appropriate place"

[2013-06-27 17:46] #42 closed, assigned to nobody

[2013-07-11 17:56] #43 closed, assigned to nobody

[2013-07-11 17:56] #39 closed, assigned to nobody

[2013-07-15 17:30] #44 closed, assigned to nobody

[2013-07-18 18:58] sdrave opened #51 "setup.py claims that ipython is not installed even when it is installed"
This seems to be due to the fact that the package on pip is called "ipython", however you have to install "IPyhon".

[2013-07-19 15:10] sdrave opened #52 "la.pod fails if all eigenvalues are below the tolerance"

[2013-07-23 22:26] #45 closed, assigned to nobody

[2013-07-23 22:34] #51 closed, assigned to nobody

[2013-07-26 19:28] #6 closed, assigned to nobody

[2013-07-26 20:22] #52 closed, assigned to nobody

[2013-07-26 20:23] sdrave opened #53 "Fix indexing in NumpyVectorarray"
Indexing with a single number instead of a list currently fails in various places.

[2013-07-28 14:44] #53 closed, assigned to nobody

[2013-07-29 21:45] ftalbrecht opened #54 "README.txt seems outdated"
I remember something like 'one of the readmes is generated automagically using the other'. If that is true, this mechanismn is not working. If that is false, we should update README.txt manually to match the other readme or remove it altogether imho.

[2013-07-30 21:16] #54 closed, assigned to nobody

[2013-08-12 23:30] #46 closed, assigned to nobody

[2013-08-21 13:55] #41 closed, assigned to nobody

[2013-08-21 14:23] #2 closed, assigned to sdrave

[2013-08-26 10:31] sdrave opened #55 "Add a copy-on-write mechanism to VectorArray"

[2013-09-20 16:39] #40 closed, assigned to nobody

[2013-09-20 16:49] #50 closed, assigned to nobody

[2013-09-27 13:55] sdrave opened #56 "Discuss duck typing vs. assertions vs. contracts"

[2013-10-07 15:18] #13 closed, assigned to nobody

[2013-11-13 17:22] #11 closed, assigned to nobody

[2013-11-13 18:24] sdrave opened #57 "Discuss spelling of pyMor again"
Is it pyMor, pyMOR, PyMor, PYMOR, or pymor

[2013-11-14 13:20] #57 closed, assigned to nobody

[2013-11-18 12:33] #48 closed, assigned to nobody

[2013-11-21 01:54] #21 closed, assigned to nobody

[2013-11-21 01:55] #15 closed, assigned to nobody

[2013-11-21 02:00] sdrave opened #58 "Fix documentation generation on readthedocs.org"

[2013-12-12 14:01] #58 closed, assigned to renefritze

[2013-12-12 14:02] sdrave opened #59 "fix installation of pyvtk for newer pip versions"
newer pip version (>=1.4) require the use of the '--pre' flag when installing pyvtk as there are no stable versions available. On the other hand, earlier versions do not recognize the flag.

[2014-02-24 16:35] #47 closed, assigned to nobody

[2014-02-27 21:00] #38 closed, assigned to nobody

[2014-02-27 21:01] #36 closed, assigned to nobody

[2014-02-27 21:03] #18 closed, assigned to nobody

[2014-02-27 21:12] #3 closed, assigned to nobody

[2014-02-27 21:16] sdrave opened #60 "make everything in pyMOR picklable"

[2014-03-13 22:44] renefritze opened #63 "install pymordemos?"
Is there a reason we're currently not installing that on setup.py install?

[2014-03-13 22:46] renefritze opened #64 "pymor contains itself?"
Is this _supposed_ to work/expected behaviour?
python -c 'import pymor; dir(pymor.pymor.pymor.pymor.pymor)'

[2014-03-14 15:59] #64 closed, assigned to nobody

[2014-04-10 14:01] #63 closed, assigned to nobody

[2014-04-10 14:02] #59 closed, assigned to nobody

[2014-04-10 14:04] sdrave opened #65 "ensure that 'pip freeze' finds pyMOR when installed via Debian packages"

[2014-04-22 11:42] renemilk opened #67 "Add contribution guideline?"
See https://github.com/tiimgreen/github-cheat-sheet#contributing-guidelines and
https://github.com/tiimgreen/github-cheat-sheet#decreasing-contributor-friction

[2014-04-22 15:29] sdrave opened #68 "add Ubuntu 14.04 packages"

[2014-05-12 15:31] sdrave opened #71 "add coercivity estimation to reduce_stationary_affine_linear"

[2014-09-03 14:40] sdrave opened #73 "improve performance of NumpyVectorArray by using BLAS routines directly"
See scipy.sparse.linalg.lgmres

[2014-09-04 13:27] #68 closed, assigned to nobody

[2014-09-09 15:12] sdrave opened #74 "Decide if the keys handed to the cache backends should be pickled or not"
It would probably faster for memory based backends not to do so ..

[2014-09-29 15:23] #60 closed, assigned to nobody

[2014-09-29 16:15] sdrave opened #75 "add finite volume diffusion operator"

[2014-09-30 09:18] #71 closed, assigned to nobody

[2014-10-06 16:15] #65 closed, assigned to nobody

[2014-10-09 12:32] sdrave opened #76 "Replace VectorArrayInterface.dot by dot and pairwise_dot"
Do the same for OperatorInterface.apply2.

[2014-11-06 12:48] ftalbrecht opened #78 "[operators] update apply_inverse signature"
To be more consistent with the rest of the operator notation `apply_inverse` should accept an argument `V` (and not `U`).

[2014-11-11 23:05] ftalbrecht opened #81 "defaults, sid and env"
We have to decide on how to handle defaults, sid generation and env in the future, see the discussion in pr #77 for instance. If I remember correctly todays discussion resulted in the following decisions (please corret me if I rememeber wrong):

* It will be possible to add certain variables to defaults that are not going to influence the sid, as in (`_sid_ignore` may not be the final name):
[code

[2014-11-12 00:39] #10 closed, assigned to nobody

[2014-11-13 11:16] ftalbrecht opened #82 "[algorithms.greedy] drop default for extension_algorithm"
I ran into a situation where I was stupid enough to not give any extension algorithm to the greedy algorithm (thus ending up with the default `trivial_basis_extension`) which led to hard-to-interpret results. We discussed that defaulting to `gram_schmidt_basis_extension` might also not be a good idead (since one often wants to specify the product). Thus I propose to drop the default and force the

[2014-11-14 17:48] sdrave opened #83 "remove lincomb from OperatorInterface"
There is no longer any reason for having `lincomb` as a class method. One should use `operators.constructions.lincomb` instead

[2014-11-17 17:04] sdrave opened #84 "Replace parameter_type == None with parameter_type = {} for non-parametric problems."
Or are there performance impacts?

[2015-01-07 11:20] sdrave opened #89 "create vectorarrays submodule"

[2015-01-08 18:11] sdrave commented on #49
See 79d9a053339d64518f0e8c2081118d1ee8115926. (Not as comprehensive as VectorArray tests but should be fine for now.)

[2015-01-08 18:11] #49 closed

[2015-01-11 22:06] sdrave commented on #81
Having multiple defaults files is now implemented in 0df10692f5c201bdcb9e34faa83e71b030db59e1.
Implementing the `sid_ignore` functionality turned out to be harder than expected. Main problem is that you can only know which defaults should be ignored for sid calculation after importing all pyMOR modules with defaults. However, doing so creates various default argument objects like `ConstantFunction

[2015-01-12 09:38] ftalbrecht commented on #81
Thank you for your work! To be quite honest I am not fully aware of all consequences of the three approaches you suggest:
* to me the first one sounds exactly like the one I suggested to begin with. Since I guess it is not, could you give a short example, countering the one I gave at the top?
* I agree that the second approach is out of the question.
* At the moment I can not say anything useful a

[2015-01-12 10:43] sdrave commented on #81
@ftalbrecht, the first approach would mean that not only you are able to specify `sid_ignore` with `@defaults`, but the user would be also allowed to say in her defaults.py that, e.g., the bicgstab maxiter should not enter sid calculation.

If the trivial caching is removed from the `assemble` method, implementing the third approach shouldn't be too hard, but it should be tested thoroughly ...

[2015-01-12 12:31] ftalbrecht commented on #81
Thank you for the clarification, this is (of couse) out of the question!

[2015-01-12 14:21] sdrave commented on #81
@ftalbrecht, what is out of the question?

[2015-01-12 14:52] ftalbrecht commented on #81
To allow the specifiation of `sid_ignore` in a `defaults.py`. I think that would invite hard to find errors...

[2015-01-12 15:10] sdrave commented on #81
Sure, but `write_defaults_to_file` would write the in-code defined settings to a file along with a big warning to better not change these settings. But I agree that the other approach would be more attractive.

[2015-02-06 14:17] sdrave commented on #75
See #70.

[2015-02-06 14:17] #75 closed

[2015-02-17 13:44] michaellaier opened #101 "Errors in documentation"
The 'Getting Started' chapter states that the parameter training set of the thermalblock demo will have the size (XBLOCKS x YBLOCKS)^SNAPSHOTS.
I think that should be SNAPSHOTS^(XBLOCKS * YBLOCKS) as in the documentation for the demo.

[2015-02-24 08:55] fameyer opened #103 "Mass matrix in instationaryDiscretization not identity by default"
Hello!

In the documentation of the InstationaryDiscretization it is said that

'mass
    The mass Operator M. If None the identity is assumed.'

But as far as I see it, when mass=None upon instantiation in my code, mass stays None. Accordingly assertion errors occur later (when doing RB stuff).

Regards! Falk

[2015-02-25 13:42] sdrave commented on #103
The intention is that the case 'no mass operator' should be interpreted as 'the mass matrix is the identity matrix'. I am not sure whether `mass` should be set to something like `IndentityOperator` by default, since this makes it harder to perform special treatment for this case. However, not providing a mass matrix should not lead to failing assertions, of course. Where does your code fail?

[2015-02-25 13:54] fameyer commented on #103
I define an instationaryDiscretization with some Lincombperators like this:

`discretizaton = InstationaryDiscretization(operator = op, rhs=rhs, initial_data=u0, T=T, time_stepper = ImplicitEulerTimeStepper(n))`

So I do not provide a mass operator. When I now start a greedy search with this discretization I get following error:

`File "../pymor/src/pymor/algorithms/timestepping.py", line 125, in

[2015-02-25 14:12] sdrave commented on #103
Ah yes, I remember! Problem is that the implicit Euler code only works if you provide a mass matrix since it has to invert something like (I + A) in case the mass matrix is the identity. However, there is at the moment no generic way to obtain an appropriate operator representing the identity. `IdentityOperator` won't work since you will want to assemble a matrix for (I + A) in order to plug it in

[2015-03-02 23:06] sdrave commented on #76
Done in b8bb222628b977ec378ec042a521bdc5185c178d and e8c9c6aebbc5f988a082905afff8d2059de8e9d7.

[2015-03-02 23:06] #76 closed

[2015-03-02 23:16] sdrave commented on #83
Done in 05132879096ec9f0da12112ce23c6510788228ef.

[2015-03-02 23:16] #83 closed

[2015-03-03 10:51] sdrave commented on #101
Fixed in 0e3535a2765b1fff96b28c0c5cfb55fc10d2dec0.

[2015-03-03 10:51] #101 closed

[2015-03-03 10:52] sdrave commented on #89
Done in 8cb1a33c060e709ebf421d844e9de4e3a7c2927a.

[2015-03-03 10:52] #89 closed

[2015-03-03 12:26] sdrave commented on #84
Changed in 91558e3acbc6085011cbbf3bc2f451fa315db7c2. (Regarding usability impacts: The main advantage is that you don't have to different types (NoneType and ParameterType) when looking at the parameter_type of an object.)

[2015-03-03 12:26] #84 closed

[2015-03-03 12:40] sdrave opened #106 "on demand sid generation"
Automatic sid generation is complicated and breaks in many cases. Instead, only generate sids when required by serializing the state and computing a hash from the serialized state.

[2015-03-03 12:41] sdrave commented on #74
This issue will become more or less irrelevant when #106 is implemented.

[2015-03-03 13:05] sdrave opened #107 "add default implementation of OperatorInterface.as_vector for functionals"
using apply_adjoint

[2015-03-03 13:06] sdrave opened #108 "sample methods of ParameterSpaces should return iterables not iterators"

[2015-03-04 13:55] sdrave opened #109 "split pymor package into pymor and pymordiscretizations?"

[2015-03-06 10:28] andreasbuhr opened #111 "greedy uses trivial_basis_extension by default"
The greedy algorithm uses the trivial_basis_extension algorithm by default. Baybe the gram_schmidt_basis_extension is a better default.

[2015-03-06 10:45] ftalbrecht commented on #111
I would agree, if other opinions are needed.

[2015-03-06 11:06] sdrave commented on #111
Changed in 1dd463287b9ad41bb4a866385043e5d9e8a41438.

[2015-03-06 11:06] #111 closed

[2015-04-09 14:05] andreasbuhr opened #113 "Handling of dirichlet dofs potentially worsens operator condition"
Hi pymor,

for Dirichlet-dofs, an operator gets a "1" on the diagonal and the rhs gets the Dirichlet value set. This is done in operators/cg.py. However, this may worsen the condition of the operator: E.g. if all other eigenvalues are of order 1e5, adding an eigenvalue of 1e0 leads to bad behavior of sparse solvers.

It would be better to put a value on the diagonal which is of comparable size to

[2015-04-09 14:15] sdrave commented on #113
@ftalbrecht: This might also be of relevance for dune-gdt?

[2015-04-09 14:16] ftalbrecht commented on #113
I do hope that we do set the rhs to 0, instead of 1 (and apply a dirichlet correction shift, etc...). In that case we could set the diagonal entry of the lhs to any non-zero value, you are right. Do you have any idea yet how to efficiently find a good value? Do you also happen to have a minimal working example lying around? :)

[2015-04-09 14:19] ftalbrecht commented on #113
The way we apply constraints in dune-gdt does not make it particularly easy to set the entry to any value other than 1, since we do it locally and prepare the constraints without knowing the matrix...
But since we do have other problems conecrning contraints we might refactor them if we find a nice solution here...

[2015-04-09 14:33] sdrave commented on #113
The problem is that pyMOR clears Dirichlet rows and sets the diagonal to 1 while all other entries scale with the grid size. This has nothing to do with the rhs ..

[2015-04-09 14:39] sdrave commented on #113
I guess for pyMOR, one could simply leave the diagonal entry as it was before boundary handling (which would correspond to the diagonal entry for a Neumann dof).

[2015-04-09 15:33] andreasbuhr commented on #113
maybe it's not so simple, as the corresponding entry in the rhs also has to be scaled!?

[2015-04-09 15:38] ftalbrecht commented on #113
@andreasbuhr: no, I think it does not have to be, since the entry in the rhs should be zero (see my first comment). @sdrave: letting the diagonal value simple be what it was before might be a reasonable idea (as long as it is not zero).
I might investigate in the context of the benchmarks...

[2015-04-09 15:41] andreasbuhr commented on #113
@ftalbrecht
The entry in the rhs should be the Dirichlet value. So for Dirichlet-zero boundary values you are right.

[2015-04-09 15:56] ftalbrecht commented on #113
No it should not. Especially in the context of model reduction any constraints have to be applied with a zero entry in the right hand side (you can not span a reduced space with functions having nonzero boundary values in the context of CG FEM). You can transform any dirichlet problem into one with zero boundary values, solve the system, and transform back. I am not sure if Stephan implemented it

[2015-04-09 15:57] andreasbuhr commented on #113
@ftalbrecht :
You are right the rhs should be zero after applying the Dirichlet shift. However, for calculating the Dirichlet shift, you need the operator and the original rhs, and the original rhs needs to have the (potenetially scaled) dirichlet values. So when using just the entry which is there (instead of one) on the diagonal for the dirichlet values, you somehow have to channel this value in

[2015-04-09 16:35] andreasbuhr commented on #113
OK, i figured:
If you have not 1 on the diagonal of the matrix of the operator for the Dirichlet values but some other value, say c, then you also need to scale the corresponding Dirichlet entries in the rhs by c. Then you can calculate the correct Dirichlet shift using the operator and the rhs.
When neglecting the scaling by c in the rhs, the Dirichlet shift will be wrong. However, only the Diric

[2015-04-09 17:47] ftalbrecht commented on #113
I have considered the problem of nonzero boundary values in the context of RB in great detail and would like to postpone the question for nonzero boundary values until I have a little more time to explain mayself, or until I am back in Münster. Until then, I think it would be a good start to consider the case of zero boundary values first. If we find a good heuristic of how to deal with this probl

[2015-04-13 09:34] andreasbuhr opened #114 "POD needs atol, rtol"
The POD in pymor only has a relative tolerance at the moment. Having also an absolute tolerance would be nice in some cases.

[2015-04-13 15:09] sdrave commented on #114
Done in 00cc1b76e07bdc41933f2d93c5e611cf61f0968a.

[2015-04-13 15:09] #114 closed

[2015-04-28 15:29] sdrave commented on #106
This is now implemented in 'sid_take_two' branch and will soon be merged to master.

[2015-04-28 15:35] sdrave commented on #82
Done in 1dd463287b9ad41bb4a866385043e5d9e8a41438.

[2015-04-28 15:35] #82 closed

[2015-04-29 15:31] sdrave commented on #81
After thinking about it some more, I have finally implemented the original proposal in commits 52a487388503579daac80d3c9c0aee687f51a453...1813d5d849e9e55ad60f0efd6f8561b57412ae83.

I am quite happy with the result. Some details:
- The `defaults` decorator has now an additional keyword argument `sid_ignore` as described above.
- To know which defaults enter sid calculation, we now import every modu

[2015-04-29 15:31] #81 closed

[2015-04-30 18:34] sdrave commented on #106
Has been merged to master here: 789d224b2e9c28026d7bd49f22b6d1cdf22f8eb8.

[2015-04-30 18:34] #106 closed

[2015-04-30 18:37] sdrave commented on #74
Since 789d224b2e9c28026d7bd49f22b6d1cdf22f8eb8, every cache key is a string.

[2015-04-30 18:37] #74 closed

[2015-05-04 12:58] ftalbrecht opened #115 "[algorithms.gram_schmidt] silence numpy warning"
While benchmarking (and thus calling `gram_schmidt` with random vector arrays) I ran into a `RuntimeWarning` of numpy, triggered by https://github.com/pymor/pymor/blob/master/src/pymor/algorithms/gram_schmidt.py#L125 with `norm = 0.0`.
This is not really an issue, since this vector has been marked for removal earlier in line 122. The removal, however, takes place after the loop.
While this is not

[2015-05-06 07:57] ftalbrecht opened #116 "[readthedocs] Copyright outdated"
When I visit `docs.pymor.org`, the Copyright statement at the bottom reads
[code]
If the leading years are with respect to pymor (and not readthedocs), we should update this.

[2015-05-18 11:39] andreasbuhr opened #117 "random error in pymor cache"
Hi,

I randomly get error messages like:

Traceback (most recent call last):
  File "experiment_compare_estimates.py", line 23, in <module>
    indicator=indicator
  File "/l/abuhr_01/pymor-arbilomod/arbilomod_parametric_run.py", line 240, in run_simulation
    )
  File "/l/abuhr_01/pymor-arbilomod/arbilomod_manager.py", line 475, in extend
    boundary_values = self.l.localize_vector_array(U_boun

[2015-05-18 11:48] sdrave commented on #117
Do you have multiple instances writing to the same cache at the same time? What filesystem?
Also, the traceback seems somehow incomplete or am I missing something? (Which one is the cached method?)

[2015-05-18 12:05] andreasbuhr commented on #117
Yes, there are multiple instances running. It is on metatron. /tmp is mounted as:

/dev/mapper/ivv5_lvm-root on / type ext4 (rw,relatime,errors=remount-ro)

The traceback is complete. I am also not able to understand it. Maybe the source was changed after program start, so the line numbers are misleading. Anyhow, the reason is quite clear: There is a race condition in the "set" function (cache.py:

[2015-05-18 12:42] sdrave commented on #117
I agree that using mkstemp is cleaner (I would say that the filename should still include the date.)

What really surprises me is that you actually hit this race condition with only a few concurrent processes. What disk cached methods do you have and how often are they called?

[2015-05-18 12:58] andreasbuhr commented on #117
I don't know of all my cached methods, but at least I do have "solve" on the local problem in the enrichment.
Back-of-an-envelope-calculation:
If it is called once a second, and a second has a million microseconds, you end up with a one in a million chance of having the same filename twice, for two processes. With ten processes it is something like one to 100 000. A day has 86.400 seconds, so one

[2015-06-17 13:20] sdrave opened #118 "Add 'from_file' factory method to NumpyMatrixOperator"

[2015-06-17 16:01] sdrave commented on #118
Do the same for NumpyVectorArray

[2015-06-17 16:06] sdrave opened #119 "merge mpi helper tools from pymor-paper branch"

[2015-06-17 16:08] sdrave opened #120 "Add 'from_file' factory method to discretizations from pymor.discretizations.basic?"

[2015-06-17 16:10] sdrave opened #121 "add a way to cleanup non-persistent entries from disk cache regions"

[2015-06-17 16:16] sdrave commented on #117
Fixed in 071b3afecff0c52d5d195c4a392f2cad01a6e7c8.

[2015-06-17 16:16] #117 closed

[2015-06-17 16:25] sdrave opened #122 "reconsider 'options' parameter for OperatorInterface.apply_inverse"

[2015-06-18 10:05] ftalbrecht commented on #122
Agreed. We should drop the argument for usual operators and use the `with_` method to create a new operator with different options. How to proceed with `LincombOperator` is yet unclear...

[2015-06-18 10:11] ftalbrecht commented on #103
We should let `assemble_lincomb` be smart to detect the identity operator...

[2015-06-18 12:41] sdrave commented on #116
Should be fixed with 6ddb7930dc.

[2015-06-18 12:41] #116 closed

[2015-06-18 12:56] sdrave commented on #115
Fixed in 8b501212b8.

[2015-06-18 12:56] #115 closed

[2015-06-18 13:00] sdrave opened #123 "gram_schmidt: set default for copy parameter to True?"
Since gram_schmidt always returns the orthonormalized matrix and pyMOR usually copies data per default to be on the safe side, the current behaviour is unexpected.

@ftalbrecht, @andreasbuhr, any objections? (Of course, changing the default will break code which assumes that gram_schmidt is in-place by default.)

[2015-06-18 13:35] ftalbrecht commented on #123
No objections.

On 18 June 2015 15:00:49 CEST, Stephan Rave <notifications@github.com> wrote:

--
 Felix Schindler (born Albrecht)
 Applied Mathematics Münster
 University of Münster
 Orleans-Ring 10, room 120.012
 D-48149 Münster, Germany

 Tel.: +49 251 83 35130
 Fax :  +49 251 83 32729
 Mail: felix.schindler@wwu.de
 WWW:  http://felixalbrecht.de

[2015-06-19 12:48] ftalbrecht commented on #14
Related to #119

[2015-06-19 12:49] ftalbrecht commented on #9
There already exits an implementation of a gmsh reader in the playground: https://github.com/pymor/pymor/blob/master/src/pymor/playground/grids/gmsh.py

Maybe you could comment on what is working/missing at some point?, @sdrave

[2015-06-19 13:04] andreasbuhr commented on #123
My code does not use gram_schmidt directly, only gram_schmidt_basis_extension, so  no objections.

[2015-06-19 13:56] ftalbrecht opened #124 "[mpi4py] check linking"
Investigate wether mpi4py is compiled against the same mpi as for instance dune and if this will be a problem.

[2015-06-19 14:00] ftalbrecht opened #125 "[wiki]"
We should get the wiki in a shape so that it can be used again (e.g., to document the role of a core developer). There are several old articles that are probably outdated by now. We can only work on this while the wiki is enabled, which we might not want to have at all time. So perhaps each of us could take some time in the next days/weeks, enable the wiki and delete those pages that are not neede

[2015-06-19 14:01] ftalbrecht commented on #67
* We decided to flesh out what we think a _Core Developer_ should be (regarding rights and duties) and to document this (once #125 is done).
* We decided to work mostly with pull requests for new features, while minor changes can becommited directly.

[2015-06-19 14:04] ftalbrecht opened #126 "Copyright"
We decided to switch to a Copyright statement in the spirit of

[code]

* We have to check wether this will result in any legal issues for us.
* We have to check wether we can use this from now on or wether we have to include the old statement below for existing files (current opinion was to keep the old statement in existing files).

[2015-06-23 10:29] renemilk commented on #125
Is it really necessary to have it enabled? I thought I could clone and edit offline, no?

[2015-06-23 10:53] ftalbrecht commented on #125
That I did not know of, but since this is github you are probably right! :)
Nevertheless, the whole point of editing the wiki is that we want it to be enabled at some point, so we will have to do that anyway (at some point in the future). In addition, editing the Wiki using githubs editors is much more convenient than locally editing text files (for me at least). But cleaning up and getting rid of

[2015-06-24 10:11] sdrave commented on #125
To be honest, I do not see why we would want to enable the wiki again. Its just one more thing that has to be kept up to date, and we disabled it because no one did so. Regarding the contribution guidelines, I would prefer a CONTRIBUTING file which is referenced by the README.

Am 23. Juni 2015 12:53:28 MESZ, schrieb Felix Schindler <notifications@github.com>:

[2015-06-24 10:21] ftalbrecht commented on #125
I agrre on the maintanence part. Would you then like to have our ideas
of what the rights and duties of a _Core Developer_ is all documented in
the `CONTRIBUTING.md`?

[2015-06-24 10:49] sdrave commented on #125
I guess that would be fine. Shouldn't be too much text anyhow.

[2015-06-24 11:35] #125 closed

[2015-06-27 17:02] sdrave commented on #14
@ftalbrecht, not really: #119 is about adding tools which make creating bindings for MPI parallel solvers easier. This one is about parallelization of the algorithms in pyMOR.

[2015-06-27 17:09] sdrave commented on #9
The idea is to make this implementation actually usable. Main issues:

1. The code hasn't been tested for quite a while.
2. I believe there were some performance issues.
3. We need a standardized way to obtain a `BoundaryInfo` from the gmsh data as well.
4. Nice to have: Implement a domain discretizer which creates gmsh input files from `DomainDescriptions` (also add a `PolygonalDomain`, or someth

[2015-06-27 17:12] sdrave commented on #124
In what way is this a pyMOR issue? If at all, this should go to dune-pymor.

[2015-06-27 19:28] ftalbrecht commented on #124
Maybe you are right. I was just transferring my notes from our last meeting and did not want things to get lost.

[2015-06-27 19:28] #124 closed

[2015-06-29 10:10] sdrave commented on #123
Done in 711393a3300aa00176fd70e662b17b2ed8bd7e29.

[2015-06-29 10:10] #123 closed

[2015-06-29 10:20] sdrave commented on #78
Done in eb1ecc8a80fdc6a5c40c614dc0ecba7b80fc83e3.

[2015-06-29 10:20] #78 closed

[2015-06-29 12:31] sdrave commented on #56
@renemilk, @ftalbrecht, with [PEP484](https://www.python.org/dev/peps/pep-0484) accepted, Python now has an official syntax for static type annotations which is based on [mypy](http://mypy-lang.org).
The syntax of pycontracts is different (see [here](https://mail.python.org/pipermail/python-ideas/2014-August/028962.html).

Since none of the two is currently used by pyMOR, I propose to use the PEP-

[2015-06-29 12:33] sdrave commented on #56
In general, I believe that, if at all, we should opt for optional static typing which only raises warnings, not errors.

[2015-06-29 13:14] ftalbrecht commented on #56
If I understand the pep correctly, it does not even aim at any runtime warning or error, merely at improved readability and offline linting (any warning would have to be provided by us, or does some package like mypy already do that?).

After a quick glance I find the syntax acceptable, if we were to adopt it, and would agree to drop pycontracts.

[2015-06-29 13:40] sdrave commented on #56
@ftalbrecht, you understand correctly that the PEP is intended for static analysis. mypy does this already, there is nothing that needs to be done by pyMOR. (Checking if the spaces fit would still have to be performed manually using assertions.)

[2015-07-02 08:34] renemilk commented on #56
I'm pro using only PEP-484. I'll remove pycontracts in a branch.

[2015-07-04 17:55] sdrave opened #128 "Add Python 3 support"
All our major dependencies support Python 3 by now. As we have nothing to do with string handling, porting should be quite straightforward.

[2015-07-04 17:55] sdrave commented on #128
Question is, if and how we will support Python 2 in the future.

[2015-07-04 17:58] sdrave opened #129 "Implement PEP484-style type annotations"
We have decided to remove pycontracts in favour of PEP484-style type annotations (see #56). Once we have moved to Python 3 (#128), we should start adding type hints.

[2015-07-04 18:09] sdrave commented on #56
Ok, so we will add PEP484-style annotations in the future. Question remains, how many assertions we want to have in pyMOR. For instance, do we want to check in all `apply` methods that

[code]

On the plus side, we can easily check if a malformed vector is passed to the operator. On the other hand, this might get in your way: For instance, I have a DUNE code where the discretization object is part

[2015-07-04 18:36] sdrave opened #130 "Speedup tests"
Right now our VectorArray tests (marked with 'slow') like to error on travis because they need more than 50 minutes to run.

[2015-07-04 18:38] sdrave commented on #122
Ok, so this is decided. I guess, there should be a standardized attribute which holds the options that are being used? How should we name it and what happens with `invert_options`?

[2015-07-04 19:17] sdrave commented on #130
I have deactivated the DiskVectorArray tests on travis for now (84a4e55). The tests now run in 30 minutes.  DiskVectorArray is only in playground, so it can stay this way for now. I guess, we will need more fine-grained separation into jobs on travis for the future ...

[2015-07-05 12:45] ftalbrecht commented on #56
I agree that the check might seem to get in your way in your example. On the other hand, _"makes perfect sense"_ only goes so far. In practice, you will not be able to pass a vector from a discretization compiled into one shared object to another discretization compiled into another shared object (even if the original C++ types were identical). At least with pybindgen this is not possible and I do

[2015-07-05 22:36] sdrave commented on #107
Done in 1dd1b378fb.

[2015-07-05 22:36] #107 closed

[2015-07-05 22:43] sdrave commented on #56
@ftalbrecht, I am doing this already. The VectorArrays have the same type, only the discretization *instance* they have as subtype differs. (And the discretizations are only needed to pull out the GridFunctionSpace which is needed to instantiate the dof vector - in my case, only extracting the dimension.)

As long as you are the implementor of apply, there is no problem here, anyway. Just leave ou

[2015-07-06 11:42] renemilk commented on #128
I vote against parallel 2.7/3.x support. There's way more overhead than benefit imo. If python 3 is still scary for some potential user than he's probably just mis/uninformed.

[2015-07-06 11:50] pmli opened #131 "Support complex data in NumpyVectorArray / NumpyMatrixOperator"
The issue is that Numpy/Scipy doesn't allow a matrix to change type inplace, so a `ComplexWarning: Casting complex values to real discards the imaginary part` is raised in several places:

1. in `NumpyMatrixOperator.assemble_lincomb` in the line with

[code]
when the first coefficient is real and some later one is complex.
Options here would be to use

[code]
or do a check at the beginning and ini

[2015-07-06 12:03] ftalbrecht commented on #128
I do not have a strong opinion in this apart from keeping the workload at a minimum. As a side note: the [Raspberry Pi supports and recommends Python 3](https://www.raspberrypi.org/documentation/usage/python/)

[2015-07-06 12:18] ftalbrecht commented on #131
Just from a quick glance I would suggest to rather change the initialization than the operations, since there is often good reason to use `+=` over `= ... + ... `. Since we initialize new storage in both cases anyway (`matrix` and `R`) I would find it reasonable to create those as complex, if required.

[2015-07-06 12:25] sdrave commented on #128
Since we do not do a lot of string handling, automatic options like [3to2](https://bitbucket.org/amentajo/lib3to2) or [pasteurize](http://python-future.org/automatic_conversion.html#pasteurize-py3-to-py2-3) might work quite well. If these do not work, I would also vote for making pyMOR Python 3 only.

Right now, our only dependency which is not available for Python 3 is pyvtk. Sadly, the last time

[2015-07-06 12:41] sdrave commented on #131
I tend to agree with @ftalbrecht that in your first example the best solution would be to have all matrices have complex dtype in the first place. Of course, this throws away memory and involves some performance penalty. @pmli, would doing so be a serious issue for you?

For the second example: I guess we need a more systematic approach for handling complex data. We could do so by adding the dtype

[2015-07-06 13:12] ftalbrecht commented on #131
Regarding the first example: I think the memory efficiency depends on numpys implementation of `+=`. It might be enough to leave all component matrices untouched and just create `matrix` as complex if one of the components is. Since we create `matrix` here anyway there should not be any wasted memory (if `matrix += ...` does the correct thing when the right hand side is real)...

[2015-07-06 15:15] sdrave commented on #131
@ftalbrecht, I am not sure if I understand your comment. If operators[0]._matrix if stored as complex even though it is real, we need twice as much memory ...

[2015-07-06 16:42] ftalbrecht commented on #131
Ah, sorry for not being clear enough! Consider the `assemble_lincomb` implementation of the `NumpyMatrixOperator` ([link to docu](http://docs.pymor.org/en/latest/_modules/pymor/operators/numpy.html#NumpyMatrixOperator.assemble_lincomb)):

All I propose is
* to detect, if any of the `operators` or `coefficients` is complex and
* then (and only then!) to instantiate `matrix` as a complex matrix
* to

[2015-07-06 16:57] pmli commented on #131
I agree with @ftalbrecht, I would prefer to only use complex values when necessary.

@sdrave About dtype as subtype, multiplying a real matrix and a complex vector and vice versa both make sense, and both can occur in practice.

Also:
3. a number of operations in `NumpyVectorArray` don't work with complex numbers (scal, axpy, l2_norm...).

[2015-07-06 17:15] pmli opened #132 "Blockdiag and stacking of operators and vector arrays"
This issue comes up when subtracting two LTI systems. If (A1, B1, C1, D1, E1) and (A2, B2, C2, D2, E2) are two LTI systems, then their subtraction is (blockdiag(A1, A2), vstack(B1, B2), hstack(C1, -C2), D1 - D2, blockdiag(E1, E2)).

Would you consider adding blockdiag, vstack, and hstack constructions/methods for operators and vector arrays (right now I have A and E as operators, and B and C as ve

[2015-07-06 19:23] ftalbrecht commented on #132
@sdrave: do you think we could/should realize this using the proposed block operators and vector arrays?
@pmli: in the context of the LRBMS I required blocked operators and vector arrays, that might be related to what you desire. They are not part of pyMOR (yet), as we were not yet finished considering the matter.

[2015-07-07 07:09] pmli opened #133 "Add 'apply_adjoint_inverse' method to operators"

[2015-07-07 07:46] renemilk commented on #128
Both supermuc and Cheops run RHEL derivatives and have usable python 3 modules. If you're in a desktop machine with RHEL 5 now and cannot get your admin to install python 3 you're f'ed anyway.

[2015-07-07 11:10] ftalbrecht commented on #122
This is a good point, did you consider it any further yet? At the moment I would tend to leave the `invert_options` mostly as they are, since it still makes sense to provide the knowledge of how to invert an operator together with the operator. It would then be possible to obtain a new operator by calling
[code]
If the naming is too confusing we could also rename them to `available_invert_options`

[2015-07-07 15:39] sdrave commented on #122
Thinking about it, I believe that `invert_options` is not such a great name, anyhow. I would propose to use `solver_options` for the options in use (I could also live with `apply_inverse_options`) and `available_solver_options` (or `available_apply_inverse_options`) for what is currently named `invert_options`.

From my point of view, it would also be attractive to remove the current `invert_optio

[2015-07-07 15:47] sdrave commented on #131
Ok, so after some sleep, I agree that we probably should not overengineer things. If we get everything working with some additional checks, we should go that route. However, I am not sure if I am aware of all consequences. My proposal would therefore be to make some tweaks in the `complex` branch I have just created until @pmli's code is working well. If we are happy with the result, we merge to m

[2015-07-07 15:49] sdrave commented on #131
@pmli, pull requests are always appreciated. I do not have any code here working with complex numbers ...

[2015-07-07 15:53] ftalbrecht commented on #122
I agree on the first point (and would probably suggest `apply_inverse_options`, if we go down that route). I also see the burden of implementing these options and could live with their removal, given that we have not used them before.

However, I still think that it could become very important to have different versions of the same operator with different `apply_inverse_options`. If we dropped tho

[2015-07-07 15:54] ftalbrecht commented on #131
Sounds reasonable, agreed!

[2015-07-07 15:56] sdrave commented on #132
`BlockVectorArray` is already in official master. Using it basically gives you the vstack operation. If I am not mistaken, hstack in your case really is vstack, as the whole array is transposed, so to say.
A block diagonal operator working on `BlockVectorArrays` has not been implemented yes, AFAIK, @ftalbrecht? Should be quite easy to implement, and I am happy to add it to pyMOR.

You might get in

[2015-07-07 15:57] sdrave commented on #133
I will implement this, when #122 is closed.

[2015-07-07 16:01] sdrave commented on #122
@ftalbrecht, I only propose to remove the list of available options. The options set for a specific `Operator` should be available and settable during creation of the operator.

[2015-07-07 16:01] sdrave commented on #122
Another question is how to proceed with least squares solvers.

[2015-07-07 16:07] sdrave commented on #128
@renemilk, you are probably right. If python 3 is not available, then python 2.7 is most likely missing as well, so you have to roll your own in any case.

[2015-07-07 16:44] pmli commented on #131
Sounds good!

[2015-07-07 16:55] pmli commented on #132
Great!

Yes, hstack for C is actually vstack, if C stays a `NumpyVectorArray`.

I would expect for a block diagonal operator to behave like a `NumpyMatrixOperator`, i.e. to have all (four) apply methods and `assemble_lincomb` with another block diagonal operator or identity operator.

[2015-07-07 17:06] ftalbrecht commented on #132
My initial implementation of the `BlockOperator` did have a specialization for only diagonal blocks. You were able to extract all operators associated with subblocks (to do whatever you like). I also provided an initial `assemble_lincomb` variant that just called the method on all contained operators and formed a new `BlockOperator`. `apply_inverse` was also implemented for numpy based operators b

[2015-07-07 21:36] renemilk commented on #128
Next question would then be what's the minimal x in 3.x .

[2015-07-08 07:33] pmli commented on #132
I would prefer to have `apply_inverse` a bit more efficient. Instead of solving with a big matrix, I would propose solving two smaller systems. Also, it would be nice if the two blocks could be of different types, e.g. one sparse and one dense (this makes sense when comparing original and reduced system).

[2015-07-08 07:47] pmli opened #136 "Recycled Krylov subspace methods"
To be clear, I know barely anything about these methods. I only heard that they can significantly improve performance of IRKA (a Krylov-based MOR method), but it is not my current priority to use them. I found [KryPy](https://github.com/andrenarchy/krypy), which could be of help, but again, I have no idea how it works.

For now, I am wondering if there are situations in your algorithms where you n

[2015-07-08 07:48] renemilk opened #137 "Landscape and python 3"
Landscape.io does not support python 3 at this time, so there will be (are already in #134) misreported issues due to that. So the question is whether to disable it or just keep that in mind. I vote against disabling it.

[2015-07-08 11:56] sdrave commented on #137
Hmm, not sure. Do they have plans to support Python 3 in the not so distant future?

[2015-07-08 12:08] ftalbrecht commented on #132
Solving two smaller systems could be implemented in the designated `BlockDiagonalOperator`. Other implementations of `apply_inverse` could be triggered by appropriate options (once #122 is resolved). For matrix-based non-diagonal operators, one option should be whether the resulting matrix is left sparse or converted to dense (e.g., for a reduced system).

[2015-07-08 12:12] sdrave commented on #128
From a quick look I would say at least 3.2. Maybe it is wiser to say 3.3 right from the start. 3.3. does not have any important new features, but its already three years old and having to support fewer versions is always a good thing. Python 3.4 is only a year old which is probably to young.

Type annotations as discussed in #56 will enter 3.5, but I believe changes involve only a new `typing` mod

[2015-07-08 12:14] sdrave commented on #132
I also believe we should have a dedicated `BlockDiagonalOperator`. Calling `apply_inverse` on each subblock is a nice generic implementation ..

[2015-07-08 12:19] sdrave commented on #136
Hmm, such solvers might be useful in some places. (For instance, the scalar product operators need to be inverted for many different right-hand sides.) I do not think I will have time to look into this in the near future, but I will leave the issue open ..

[2015-07-08 12:49] renemilk commented on #137
FAQ say it's the most requested feature and in progress... so maybe.

[2015-07-08 15:15] renemilk commented on #128
Sounds very reasonable.

[2015-07-12 18:29] pmli commented on #131
I've made some changes in the complex branch for NumpyMatrixOperator and NumpyVectorArray. Now I'm wondering about scalar products (`dot` and `pairwise_dot`). It makes some sense that a complex conjugation should appear somewhere. I would vote for a conjugation in the second position.

[2015-07-13 10:17] sdrave commented on #131
I know that some libraries support both scalar products (with complex conjugation and without). As I do not see a lot of use for the variant without conjugation, I would say the conjugation should always be performed. And, yes of course, scalar products are antilinear in the second variable! :grinning:

[2015-07-13 11:32] pmli commented on #131
Ok :smiley:
Unfortunately, not everybody agrees about which variable is supposed to be antilinear. Some have the first variable as antilinear, and I guess that then the Riesz representation theorem is "nicer".

While working with vector arrays, I noticed that it would be nice if they had `real` and `imag` attributes (like numpy arrays). Would you be ok with that?

[2015-07-13 12:53] sdrave commented on #131
I think that having `real` and `imag` attributes would be nice. However, we should clearly define the semantics: Will accessing `real` on a float array return itself or a copy? (Don't know how NumPy behaves. Probable best to do it the same way.)

[2015-07-13 15:37] pmli commented on #131
Looking at the examples in [NumPy docs](http://docs.scipy.org/doc/numpy/reference/generated/numpy.real.html), it seems that `real` and `imag` always return a reference. Quick tests in the console confirm this. Therefore, changing `real` or `imag` changes the initial array.

[2015-07-14 09:15] sdrave commented on #131
I have merged @pmli's changes in #138 which should do most of what is needed. We should leave this issue open until we have merged the complex branch into master. Before doing that we should take a look at the performance implications of the additional checks and optimize if needed.

[2015-07-14 09:19] sdrave commented on #131
Regarding `real` and `imag`: I guess the safest bet would be to let `real` and `imag` always return a copy of the array. When #55 is implemented, we could use the same copy-on-write semantics for `real` and `imag` as well. @pmli, do you have use cases, where you would need a reference to the real or imaginary parts which can be modified?

[2015-07-14 09:23] sdrave commented on #137
IMHO, a tool which tells me for every I have made things worse is not very helpful. I would vote for disabling Landscape after the Python 3 transition until they have Python 3 support.

[2015-07-14 09:29] ftalbrecht commented on #137
Agreed!

[2015-07-14 10:45] pmli commented on #131
@sdrave No, I don't have use cases when I need references (I never change real or imaginary part), and I would prefer to work with copies.

[2015-07-14 11:46] ftalbrecht commented on #131
Copies would also make it easier to support `real` and `imag` in other implementations, e.g. those wrapping external libraries...

[2015-07-23 13:29] renemilk commented on #128
I can now output vtr files with a patched pyEVTK that paraview cannot read ;-)
Also: https://i.imgur.com/u0Msda6.png

[2015-09-04 08:06] sdrave commented on #9
@michaellaier, in case you haven't started working on it yet: It might also be a good option to use triangle instead of gmsh. There is a nice Python wrapper which also builds triangle itself for you if you run `pip install triangle`.

Here is a basic example to get started:

[code]
![figure_1](https://cloud.githubusercontent.com/assets/2648288/9679167/65c5188c-52ec-11e5-8681-80979ba9f1ab.png)

[2015-09-04 08:11] sdrave commented on #9
There is a problem with passing floats to triangle in the option string, however. If localization support in libc is activated (as it happens when you use matplotlib, but triangle does not activate it!), the float is parsed according to `LC_NUMERIC`. So if `LC_NUMERIC=de`, you would have to write `0,1` instead of `0.1`. The wrong format will crash trianagle (and thus the whole process), since `ato

[2015-09-04 08:14] sdrave commented on #9
Regarding the implementation of the grid, it would probably wise, to implement a grid satisfying the interface, which uses a vertex array and a triangle array of vertex indices as input. This could be used for gmsh output as well as triangle output.

[2015-09-17 08:10] sdrave opened #143 "Remove 'almost_equal' from 'VectorArrayInterface' ..."
... or provide a default implementation in terms of norms.

Right now, the semantics of `almost_equal` is to do a `float_cmp` for each component pair of the vectors. I see no reason, why it would not be ok to do

||u - v|| <= rtol * ||v|| + atol

instead, where the norm could be 'sup', 'l2', or 'l1'.

Right now, we only use `almost_equal` only in `trivial_basis_extension` and the tests, anyhow.

I

[2015-09-17 20:44] ftalbrecht commented on #143
Sounds reasonable. In a way, the old behaviour is more like a `float_cmp` extension for vectors.

How did you come across this? Do you have an application for an almost equal measured in a specific norm?

Anyway, I have no objections...

[2015-09-24 07:59] sdrave opened #144 "L2ProductP1 uses wrong quadrature rule in 1D case"

[2015-09-24 13:04] sdrave opened #145 "Remove Python fallbacks for Cython modules"
1. The Python versions have horrible performance, so they should never be used.
2. Newcomers might think that pyMOR is slow instead of learning how to properly install it.
3. Code duplication.
4. More or less unmaintained as nobody ever runs this code.

[2015-09-24 13:49] ftalbrecht commented on #145
+1

[2015-09-25 08:38] sdrave commented on #145
@renemilk, any objections from the packaging front?

[2015-09-25 12:08] sdrave commented on #145
Done in b960c6ffa3d97bad5af6a8343423695ddc69127d.

[2015-09-25 12:10] sdrave commented on #144
Fixed in 404c6952b62e9ab18a9f07f02e35168b11ec431a.

[2015-09-25 12:10] #144 closed

[2015-09-26 19:43] sdrave opened #147 "Debian doc packages have weird title"
Our launchpad builds fail due to  b960c6ffa3d97bad5af6a8343423695ddc69127d. This can probably be fixed in a similar way as the readthedocs build (see 3a4ff7436ce88019c771944781b60dc43722b2ff). Also see http://stackoverflow.com/questions/13238736/how-to-document-cython-function-on-readthedocs. @renemilk, could you take a look at it?

[2015-09-28 08:17] sdrave commented on #14
See #148.

[2015-09-28 08:33] sdrave opened #149 "Migrate to new Travis infrastructure"
@renemilk, Travis has a new build infrastructure which, of course, makes things more complicated for us:

http://docs.travis-ci.com/user/migrating-from-legacy/

[2015-09-28 15:36] renemilk commented on #149
Yay us. Will tackle that soon.

[2015-09-29 13:56] renemilk commented on #149
1. As is we need our ppa for build-deps
2. There's an approval process for additional deb sources
3. They have a three month backlog on that list.

I'll see if we can get away w/o our ppa for now, but otherwise this issue will involve a lot of waiting.

[2015-09-29 17:57] sdrave opened #151 "add tests for 'almost_equal' using different norms"
right now, we only test `norm='sup'`

[2015-09-29 17:59] sdrave opened #152 "correctly handle relative file names in `discretize_*_from_disk`"
right now all paths in the ini file are interpreted relatively to cwd, which is probably not what we want.

[2015-09-29 18:01] sdrave opened #153 "define a policy, how many assertions we want to make on method arguments"
Right now, the number of assertions varies randomly from 'none' to 'extensive'.

[2015-09-29 18:03] sdrave commented on #56
Ok, so it still remains to decided how many and which kind of assertions we want to have. I have created a new issue for this (#153), postponing the decision to 0.5.
Closing this issue.

[2015-09-29 18:03] #56 closed

[2015-10-01 08:26] renemilk commented on #147
The build itself works alright [again](https://launchpadlibrarian.net/219222277/buildlog_ubuntu-trusty-amd64.pymor_999.9.9~20150929~f7c29ce~daily~ubuntu14.04.1_BUILDING.txt.gz). I'll have a look at the generated docs package and  fix the recipe for new release series before closing this though.

[2015-10-01 09:18] renemilk commented on #147
Hmm. Content of the doc package looks fine and builds for ubuntu wiley work too. However the I'm attaching what looks like a regression to me (the version string):
![version](https://cloud.githubusercontent.com/assets/47802/10217107/1362f09e-682e-11e5-8bdd-36304b496325.png)

[2015-10-01 10:19] sdrave opened #154 "Move 'with_' from 'BasicInterface' to 'ImmutableInterface'?"
Right now we have a default implementation that calls `__init__` and tries to deduce the arguments from the attributes of the object. For mutable objects this does not seem reasonable, so we should not have such a default implementation and I do not see why each subclass of `BasicInterface` should be forced to implement `with_`.

[2015-10-01 12:04] sdrave commented on #147
Strange. With a local `make doc` I do not see this behaviour. Also, I have no idea what change could have caused this ...

[2015-10-01 12:10] sdrave commented on #145
We still need to update the README!

[2015-10-01 12:49] ftalbrecht commented on #154
Sounds reasonable to me.

[2015-10-02 09:32] sdrave opened #156 "Let thermal block demo use error estimator by default"

[2015-10-02 14:16] #143 closed

[2015-10-05 08:32] sdrave commented on #14
#148 has been merged. Closing this issue.

[2015-10-05 08:32] #14 closed

[2015-10-05 09:03] sdrave opened #158 "Remove 'add_attributes' from 'BasicInterface'"
`add_attributes` isn't currently used at all, and it is probably not a good idea to do so. (One can still call `unlock` on an immutable object, which also makes it more clear that you are doing dangerous business.)

[2015-10-05 10:26] ftalbrecht commented on #158
agreed

[2015-10-06 18:47] sdrave commented on #154
Has been implemented in #157.

[2015-10-06 18:47] #154 closed

[2015-10-06 18:50] sdrave commented on #158
Done in 8f347788ecbdf80a24d3bbb93a2f9d6fb606e198.

[2015-10-06 18:50] #158 closed

[2015-10-07 07:54] sdrave opened #159 "add 'copy' option to ei_greedy and make it the default"
Right now the passed VectorArray is modified without further notice.

[2015-10-07 07:58] renemilk commented on #149
With 38079e8b0ed054795ee1c4ad6b556e96b1a735a6 and 358335441d5575a0220909ffca0acf98cb186201 we're no longer dependent on our own ppa for "external" packages. We could just list the python-pymor-demos dependencies now instead of adding the ppa and installing that package. Will using the fenics ppa become necessary, @sdrave  or could we get away with the versions in travis' ubuntu? Or hope the fenics

[2015-10-07 08:00] sdrave opened #160 "[ei_greedy] set default for 'projection' parameter to 'ei'"
With `projection == 'ei'` we get the official EI-GREEDY as published in literature. The user will expect this to be the default behaviour.

[2015-10-07 08:03] sdrave opened #161 "[parallel] add an MPIPool"
This should fairly easy when #119 is closed.

[2015-10-07 08:08] sdrave commented on #149
Don't know. I have developed the bindings with the PPA version, i.e. 1.6.0. As far as I know, @ftalbrecht has used the current git HEAD. On 14.04, the available version seems to be 1.3.0. I havn't tested it, but I would not be surprised if this is too old. Do you know, which Ubuntu version the new travis workers are based on?

[2015-10-07 08:24] renemilk commented on #149
It's not really documented, but http://blog.travis-ci.com/2015-08-19-using-docker-on-travis-ci/ mentions trusty.  I'll test with 1.4.0 in a bit. If that fails we can be almost certain 1.3 will also fail. I'd consider marking the respective array test xfail depending on the fenics version an ok interim measure.

[2015-10-07 08:34] sdrave commented on #149
Marking with xfail is probably hard as we have no specific fenics tests, only fixtures. Right now, the tests simply will not be executed when fenics is not available. So not testing fenics on travis is an easy option. However, as we probably will not use the code ourselves very often, continuous integration would be very nice ...

On the other hand, I would assume that the old travis infrastructur

[2015-10-07 09:07] sdrave commented on #147
The readthedocs build does not have the version string issue as well.

[2015-10-07 09:16] sdrave opened #166 "readthedocs build failing [again]"
The readthedocs build fails again because of Cython missing. But only for 0.3.x. @renemilk, did we do anything in master to fix this?

[2015-10-07 09:34] ftalbrecht commented on #149
On a side note: I found [instructions on how to compile dolfin in a virtualenenv](https://bitbucket.org/fenics-project/fenics-web/pull-requests/9/added-python-virtualenv-installation/diff). But I do not think this will help too much, as compiling dolfin takes forever and uses up all your ram and a little more...

And yes, I was using the current head of dolfin.

[2015-10-07 12:59] renemilk commented on #149
https://travis-ci.org/pymor/pymor/jobs/84081653

Disallowing packages: python-pytest, python-pyside, cython, python-sympy, python-opengl, python-docopt, python-pyvtk

:disappointed:

[2015-10-07 14:10] renemilk commented on #149
Travis was almost ready to switch to 14.04 a year ago.... https://github.com/travis-ci/travis-ci/issues/2046
The only way around 12.04 now seems docker images. Which I'm not willing to do atm.

[2015-10-07 14:15] renemilk commented on #149
Even with extension ```travis_wait pip install pyside``` does not succeed. I'll disable it for for now to discover the problems coming after it.

[2015-10-07 14:23] ftalbrecht commented on #149
Considering [their milestone](https://github.com/travis-ci/travis-ci/mi
lestones/Ubuntu%2014.04%20-%20Trusty%20Tahr), they seem to be ready for
14.04 roughly in April of 2016^^

[2015-10-07 14:50] renemilk commented on #149
Not entirely sure what happened now: https://travis-ci.org/pymor/pymor/jobs/84104703

[2015-10-07 14:55] ftalbrecht commented on #149
Looks like a wrong/missing `scipy` issue. Alas why...

[2015-10-07 15:00] renemilk commented on #149
Maybe the new travis infra fails to allow system packages for virtualenv and it  wasn't mentioned in the migration guide. Checking with c4dadee39761fc5ec6fcf21a9dbb9446baefd12b

[2015-10-07 15:26] renemilk commented on #149
Scipy won't build :smirk:  https://travis-ci.org/pymor/pymor/jobs/84112889

[2015-10-08 08:00] renemilk commented on #137
Tracked down the relevant landscape [issue](https://github.com/landscapeio/landscape-issues/issues/142). I very much doubt we'll see it supporting 3 soon.

[2015-10-08 08:02] renemilk commented on #149
Our tests do work with fenics 1.3.0 btw, I've check with a default Ubuntu 14.04 machine.

[2015-10-08 08:25] ftalbrecht commented on #149
Very nice. Since you have this setup lying around :), could you also do a quick test of the `thermalblock_fenics.py` demo (e.g., with `-e 2 2 2 20` arguments) and compare the results to #146.

[2015-10-08 08:55] renemilk opened #167 "Minimal Fenics Version supported"
I took the liberty to "split" the last two comments from #149:
Me:

@ftalbrecht:

[2015-10-08 08:56] renemilk commented on #167
Well, turns out the tests didn't actually run with fenics support. So currently, nope can't do and no idea wrt minimal version.

[2015-10-08 09:18] ftalbrecht commented on #167
:( Could you report the outcome of the thermalblock demo call, if there is any useful information (e.g., do we just have to adapt our side of the dolfin bindings or does it not work at all)?

[2015-10-08 13:25] renemilk commented on #167
[code]

[2015-10-08 14:00] sdrave commented on #167
The dolfin changelog contains the following for version 1.4.0:

[code]

This is used extensively in the pyMOR wrappers, so we will need at least 1.4.0.

[2015-10-08 14:07] renemilk commented on #167
Hmm. So using 1.3.x in #168 wouldn't be any good even if I could.

[2015-10-08 14:14] #167 closed

[2015-10-08 14:52] renemilk opened #169 "Handle Fenics/Dolfin dependency on travis"
We need at least 1.4.0, travis runs ubuntu 12.04 and even then fenics is not whitelisted for apt installation and at 1.0 w/o additional apt-source. Even if travis updates to 14.04 that fenics (1.3.0) will also be too old.
Refs #168 #167

[2015-10-09 09:41] sdrave commented on #160
Done in 17c9e0d4777c7c3116165b98c735c5990f82d28d.

[2015-10-09 09:41] #160 closed

[2015-10-09 09:46] sdrave commented on #159
Done in 3fa4adf0fcc8e34eacc6c2dc9d5439046cf8fc0a.

[2015-10-09 09:46] #159 closed

[2015-10-09 09:48] sdrave opened #170 "Also apply the improvements from 'ei_greedy' to the deim algorithm"
With 0.3 we made some performance improvements to the 'ei_greedy' algorithm. These should also be applied to the 'deim' algorithm.

[2015-10-09 09:52] sdrave commented on #128
Since there is still work to do and FEniCs (for which we have just added some support #146) is Python 2 only ATM, shall we postpone until the 0.5 release?

[2015-10-09 10:33] renemilk commented on #128
I've been updating #134  since yesterday. Imo postponing for an optional feature with no clear roadmap or dedication to support python 3 is a bad idea. The branch will bit rot. Afaict the poisson demo in fenics was *reportedly* working a year ago on python 3, with no news since.

[2015-10-09 11:07] sdrave commented on #128
So what do you suggest? Dropping FEniCS support again or supporting both Python 2 and 3?

[2015-10-09 12:59] ftalbrecht commented on #128
Given that fenics is one of the most powerful discretization packages out there, and that via dolfin the bindings/usage is one of the easiest out there, and that a major goal of pyMOR is an easy coupling to powerful discretization backends, I would not drop the fenics support too lightly...

[2015-10-09 13:06] renemilk commented on #128
Maybe try to get official word about python 3 status/plans first?

[2015-10-09 13:15] sdrave commented on #128
I very much agree with @ftalbrecht. I think another possible route might be to move to Python 3 keeping Python 2.7 compatibility via 3to2. If there are only two or three places in pyMOR which might need special handling, this might be a viable option.

[2015-10-09 13:28] renemilk commented on #128
I say we wait for python 3 support in fenics and continue with the prep for python_move in #134
See [here](http://fenicsproject.org:8010/waterfall?category=dolfin.next&category=ferari.next&category=ffc.next&category=fiat.next&category=instant.next&category=ufc.next&category=ufl.next&category=uflacs.next) and search ```py3```

[2015-10-13 13:18] renemilk opened #171 "scipy's spilu doesn't accept some string args"
[spilu](https://github.com/pymor/pymor/blob/ceee0f1d543385cc86eefaba35aab1fba50b2168/src/pymor/operators/numpy.py#L751) errors out with Type Error in
[code]

passing only ```matrix, drop_tol=options['spilu_drop_tol'], fill_factor=options['spilu_fill_factor']
[code]

[2015-10-13 14:45] sdrave commented on #171
LGTM. Has scipy an open issue for this?

[2015-10-14 08:40] renemilk commented on #171
Nope, not even a closed one. And their tests pass for python  3.{3,4,5}.

[2015-10-15 13:12] sdrave commented on #171
Have you tried encoding the strings to `bytes` before passing them to scipy?

[2015-10-15 16:44] renemilk opened #172 "non-deterministic test failure"
There's only an empty diff between
https://travis-ci.org/pymor/pymor/builds/85542844
and
https://travis-ci.org/pymor/pymor/builds/85557805

Other than that the python 3 tests work btw. (#134)

[2015-10-15 16:58] renemilk commented on #172
And then there's https://travis-ci.org/pymor/pymor/builds/85557812 which doesn't have the failure in either builder.

[2015-10-16 08:12] renemilk commented on #171
Yeah, I did. Threw a different error that I understood even less, which is why this ticket exists :wink:

[2015-10-16 13:35] renemilk opened #173 "Add a QuantifiedCode badge to README.md ?"
In the wake of #137 I've setup QuantifiedCode with my pymor fork. You can see the [issue list](here). Which imo is a lot nicer and more helpful than what landscape got us. Sadly there does not seem to be time series evaluation of the findings as landscape had. On the upside, pretty much everything concerning the analysis is web-configurable. I've invited @sdrave and @ftalbrecht to be admins on the

[2015-10-16 15:29] renemilk commented on #137
I've also disabled watching this repo on the landscape.io site and revoked theri access token.

[2015-10-16 15:29] #137 closed

[2015-10-19 07:35] sdrave commented on #171
I just checked with current scipy master: Passing `permc_spec` to work, only `drop_rule` fails. Can you confirm that with your scipy installation?

[2015-10-20 15:29] renemilk commented on #171
Confirmed (python 3.5)

[2015-10-22 07:00] sdrave opened #175 "Implement more advanced timesteppers"
Currently we are stuck with implicit/explicit Euler. It should be easy to add more interesting methods.

[2015-10-22 07:12] sdrave commented on #149
@renemilk, since #168 is merged, I guess we can close this one?

[2015-10-22 07:20] sdrave commented on #171
What error message did you get? I get the following:

[code]

so it seems the `bytes` are converted back to `str` in scipy.

[2015-10-22 07:24] sdrave commented on #172
This is somewhat disturbing. Have you checked if the same thing happens locally?

[2015-10-22 07:28] sdrave commented on #173
So I have to sign in to have a look at the issues, or did I miss something?

[2015-10-22 07:31] sdrave commented on #166
So the 0.3.x build is still failing due to missing Cython. Strangely, master does not seem to be affected.

[2015-10-22 07:33] sdrave commented on #147
@renemilk, if you build the deb locally, do you get the same strange version string?

[2015-10-22 07:45] sdrave commented on #145
README updated in b3cefd705af1edef3755c3ee2fd2665520357b6e.

[2015-10-22 07:45] #145 closed

[2015-10-22 08:08] sdrave commented on #156
Done in  928f69b.

[2015-10-22 08:08] #156 closed

[2015-10-22 09:34] renemilk commented on #149
Indeed.

[2015-10-22 09:34] #149 closed

[2015-10-22 10:43] renemilk commented on #173
Yeah, looks like. I didn't notice that when setting it up ofc. Was too nice of a service I guess to have no catch...

[2015-10-22 10:50] renemilk commented on #147
Yeah, I get it too. I guess that's an upside :smirk:

[2015-10-23 10:29] renemilk commented on #172
Nope, cannot replicate locally.

[2015-10-23 10:32] renemilk commented on #171
RIght. But then we cannot win atm, or can we?

[2015-11-04 16:48] sdrave opened #177 "Use antijet as default colormap?"
[This](https://gist.github.com/gramian/67585e5f2e9a294c3aa6) seems to be a nice default colormap.
When #176 is merged, using it should be straightforward.

[2015-11-06 09:09] sdrave opened #178 "Disable caching for discretizations by default"
Currently, the default cache region for discretizations in `pymor.discretizations.basic` is `'disk'`. I propose to change this to `None`.  IMHO, pyMOR should behave as reproducible as possible by default. Having persistent cache entries on disk will change timings in subsequent runs. Moreover, first time users will probably be surprised that pyMOR dumps up to 1GB of data to disk. Re-enabling cachi

[2015-11-06 09:11] sdrave opened #179 "Remove disable_caching, enable_caching from CacheableInterface"
`CacheableInterface` has the property `cache_region`. Since `disable_caching` just sets `cache_region` to `None`, whereas `enable_caching` sets `cache_region` to its given argument, I see no reason to keep these methods. (There should be one (and only one) obvious way to do it.)

[2015-11-06 09:20] sdrave commented on #121
I guess the easiest way would be keep a list of non-persistent cache entries for each region. When the region is finalized, these entries are removed. We could do this in an exit hook. However, there are some instances, where these are not called (e.g. the interpreter crashes).

A more robust option might be to have different regions for persistent and non-persistent entries. Non-persistent ones m

[2015-11-06 09:22] sdrave commented on #171
Ok, so I guess we should file a bug report ...

[2015-11-06 09:24] sdrave commented on #172
Have we already seen this in master or is this somehow related to Python 3?

[2015-11-06 09:35] renemilk commented on #172
Haven't seen it with master, no.

[2015-11-06 09:53] renemilk commented on #178
Sounds good. I'm  a little concerned if anybody new will do/find that though.

[2015-11-06 10:11] sdrave commented on #178
At least, we could add an option to the demos ..

[2015-11-06 10:47] sdrave commented on #173
Ok, it seems I no longer have to sign in to look at the issues.
I guess it will require some configuration, but overall it might be useful. Not sure, however, if we want to add a bade. I mean, 230 potential bugs ... Are we gonna advertise that?

[2015-11-06 13:37] renemilk commented on #173
OTOH, If it's not in our face we won't bother checking them out.

[2015-11-06 13:44] renemilk commented on #173
Either way, I did trigger the frst time analysis for pymor/pymor now

[![Code Issues](https://www.quantifiedcode.com/api/v1/project/6061c0c1dc2a43fda5319eea7ace3151/badge.svg)](https://www.quantifiedcode.com/app/project/6061c0c1dc2a43fda5319eea7ace3151)

[2015-11-06 13:45] renemilk commented on #179
Agreed.

[2015-11-06 13:46] renemilk commented on #178
That I like.

[2015-11-06 13:46] renemilk opened #180 "Add a cli arg to enable discretization cache to demos"
see #178

[2015-11-06 13:51] sdrave commented on #173
If we manage to configure it in a way s.t. the number of issues is not ridiculously high, I am ok with adding the badge. However, from looking at the issues, I doubt that this will be possible without deactivating many useful tests.
In general, I believe there would be enough noise, when QC posts to pull request and sends emails when commits increase the issue count.

[2015-11-06 13:59] sdrave commented on #173
@renemilk, please take a look at #163. Every issue found is IMHO a non-issue. What I really don't like is that this marks the PR with a mean red x in the issue list ...

[2015-11-06 14:41] renemilk commented on #173
I've merhged master into mpi_merge and pushed to trigger a rebuild/analysis after disabling the mentioned issues as a way to test if only bug/critical category issues will mark X

[2015-11-06 15:00] renemilk commented on #173
Nope. Even minor issues produce a red X. This problem may however go away if the problems aren't "new" any longer.

[2015-11-07 13:12] renemilk opened #181 "update to trusty on travis"
http://blog.travis-ci.com/page-2/

[2015-11-09 08:26] sdrave commented on #179
Well, as it turns out, this is a bad idea, of course: The cache_region property cannot be modified directly on immutable objects, so we have to go through a method call.
Actually, `CacheableInterface.enable_caching` tried to directly set the property which I have just fixed in  8ce576f.

[2015-11-09 08:26] #179 closed

[2015-11-09 09:59] ftalbrecht commented on #178
So, in view of #179, one would write
[code]
to enable caching and
[code]
or
[code]
to disable caching again?

[2015-11-09 10:08] sdrave commented on #178
Yes, but I would write:

[code]

[2015-11-09 13:44] #119 closed

[2015-11-09 13:51] sdrave commented on #178
Done in  4c67dd7.

[2015-11-09 13:51] #178 closed

[2015-11-10 11:00] sdrave commented on #173
Maybe we should ask them if they change the behavior or make it configurable.

[2015-11-10 11:01] sdrave commented on #147
Do we know which commit caused the wrong version string?

[2015-11-10 14:49] sdrave commented on #121
Done in #182.

[2015-11-10 14:49] #121 closed

[2015-11-10 14:49] sdrave commented on #180
Done in #182.

[2015-11-10 14:49] #180 closed

[2015-11-11 15:34] renemilk commented on #147
Nope. But I guess I could bisect that at some point in time.

[2015-11-12 09:00] renemilk commented on #177
:+1:

[2015-11-13 10:56] sdrave commented on #132
@ftalbrecht, I think this is also an interesting case w.r.t. #183. On the one hand, think of a `BlockDiagonalOperator` where blocks have different operator backends. It is then very easy to specify options for both backends in the `solver_options` of the `BlockDiagonalOperator`. (The alternative would be to have somehow a list of options for each sub-operator.)

The other situation would be that y

[2015-11-13 11:00] sdrave commented on #169
If I understand correctly, we can resolve this, once #181 is resolved, as we have root access there?

[2015-11-13 19:43] renemilk commented on #169
Yeah.

[2015-11-19 13:46] sdrave commented on #122
See changes in #184, #185.

[2015-11-19 13:46] #122 closed

[2015-11-19 13:48] sdrave commented on #133
With #122 done, do we want to name the method 'apply_adjoint_inverse' or 'apply_inverse_adjoint'. I would vote for the second option.

[2015-11-19 14:57] ftalbrecht commented on #133
I do not have a strong opinion here. So if you have one, let's go with
it...

[2015-11-19 16:11] pmli commented on #133
I used the first option, but I'm fine with switching to the second. Also, in math we usually write A^{-T} or A^{-*} (or A^{-H}), so in that way it makes sense to use the second option.

[2015-11-20 09:00] sdrave commented on #103
So, this should work now:

- a16a482f54b1e3317b54a177cfc3b3bb61a5acac extends `implicit_euler` to use `IdentityOperator` as mass matrix if none is supplied.
- 32e43034b085758936d198332472b84c5b283a56, ee35db4556e6e78325b84edcdcb99f87aab4689a implement support for assembling linear combinations of NumpyMatrixOperators and IdentityOperators, so (I + A) can be inverted efficiently (without falling ba

[2015-11-20 09:34] sdrave commented on #103
Still, the question remains if the mass matrix in InstationaryDiscretization should never be `None`.
Note:

Thus, we will, usually, get mathematically  wrong results, when `mass` is `None`, but `reduced_basis` is not orthonormal w.r.t. the Euclidean inner product.

On the other hand, `reduce_generic_rb` currently does not know if `reduced_basis` is orthonormal or not. So setting `mass` to `Identit

[2015-11-20 09:35] sdrave commented on #103
Regarding @fameyer's first comment, we should probably clarify the documentation ...

[2015-11-20 09:46] sdrave opened #188 "Add missing methods in operators.constructions"
We should add the following missing methods:
- `Concatenation`: ~~`jacobian`~~
- `ComponentProjection`: `apply_inverse`, `apply_inverse_adjoint`,
- `IdentityOperator`: ~~`apply_inverse`~~,  ~~`apply_inverse_adjoint`~~, ~~`restricted`~~
- `ConstantOperator`: ~~`apply_inverse`~~, ~~`apply_inverse_adjoint`~~, ~~`restricted`~~
- `ZeroOperator`: ~~`apply_inverse`~~, ~~`apply_inverse_adjoint`~~, ~~`rest

[2015-11-20 09:48] sdrave commented on #188
I have set the 0.4 milestone for now, but most methods are not really needed very much, so I will defer most of it to a later release at some point.

[2015-11-20 09:57] sdrave opened #189 "Provide problem class, discretizer and a demo for parabolic problems"

[2015-11-20 09:59] sdrave opened #190 "Add reductor with error estimator for linear parabolic problems"

[2015-11-23 09:02] sdrave commented on #188
IdentityOperator: 00c7843, 214aee3
FixedParameterOperator: eae44e2
AdjointOperator: ba55bbc

[2015-11-23 11:53] #133 closed

[2015-11-24 10:18] #9 closed

[2015-11-24 23:27] pmli commented on #132
@sdrave @ftalbrecht I had to switch B and C to being operators, not vector arrays (I found an application with a large number of outputs and where C is sparse-plus-low-rank). Therefore, I'm now interested in `BlockOperator` created by vertical or horizontal stacking of operators. I'm also interested in more abstract `BlockOperator` and `BlockDiagonalOperator`, where blocks can be operators defined

[2015-11-27 09:27] ftalbrecht commented on #132
@pmli: we have had a look at the old branch and a small design discussion about block operators. It is most welcome if you want to work on those! I would suggest not to use the old branch but rather to start a fresh branch from current master and add the operators to the playground (i.e., `pymor/playground/operators/block.py`), as the old branch is rather outdated. (Note that I will often call the

[2015-11-27 09:54] pmli commented on #132
Thank you very much for the specification!

I actually never used `projected`, but `apply2`. It's kind of important to have access to the reduced A matrix (for the eigenvalue decomposition used in IRKA).

[2015-11-27 10:37] sdrave commented on #132
We could also do the same here to be closer to BlockVectorArray, but then we would have to provide an attribute giving us the shape of self._blocks, so this is perhaps over-engineered. In addition, operators are immutable so there is no need to guard against direct access.

I would say we should adapt `BlockVectorArray` accordingly. It would probably be a good idea to make the array immutable by c

[2015-11-27 10:38] sdrave commented on #132
If you derive from `OperatorBase`, a default implementation for `apply2` (which you may or may not want to use) comes for free.

[2015-11-27 16:12] sdrave opened #194 "Move BitmapFunction out of the playground"
This should be an interesting `Function` for many users, so we should not hide it in the playground. Before moving, we should check again the implementation, though.

[2015-11-27 16:24] sdrave commented on #194
@andreasbuhr, according to this [documentation](http://pillow.readthedocs.org/en/3.0.x/handbook/concepts.html), an image mode 'L' should imply 8 bit grayscale, so the additional check in `__init__` would not be necessary. I can also reproduce locally that an 16bit grayscale image has mode 'I'.

What version of PIL have you been using? According to [this](http://stackoverflow.com/questions/1996577/

[2015-11-27 16:55] sdrave opened #195 "Add more tests / fixtures for operators in pymor.operators.constructions"

[2015-12-07 20:26] renemilk commented on #181
Started working on it: https://github.com/pymor/pymor/compare/c083b2d1dff9%5E...b77166df36b6
https://travis-ci.org/pymor/pymor/builds/95432254

[2015-12-08 09:50] renemilk commented on #147
I failed to find a good commit bisecting on  my box. Can you confirm an OK doc.deb sometime along the line, @sdrave ?

[2015-12-09 13:31] #147 closed

[2015-12-09 13:32] renemilk commented on #181
Works as of 056376b2a86f93d16d357f277fee599f97cd359c

[2015-12-09 13:32] #181 closed

[2015-12-09 13:34] renemilk commented on #169
Travis now uses ```14.04``` and adds ```ppa:fenics-packages/fenics``` before
```sudo aptitude install -y -q dolfin-dev python-dolfin```

[2015-12-09 13:34] #169 closed

[2015-12-09 15:45] renemilk commented on #166
I've cherry-picked b291f2461991c6dd338959e96dbeed4a4c987580 into 0.3.x and all seems well now: https://readthedocs.org/projects/pymor/builds/3550763/

[2015-12-09 15:45] #166 closed

[2015-12-09 15:59] renemilk commented on #173
https://github.com/quantifiedcode/issues/issues/33

[2015-12-09 16:20] programmdesign commented on #173
@sdrave @renemilk: you can configure all checks and the badge will only show the issues you turned on in your analysis. We also fix issues automatically now, so we can help you fix quite a few of them with just a click of a button. Give it a try. It'll open a PR so you can review the changes before merging. Let me know if you got any questions.

[2015-12-09 17:02] ftalbrecht opened #197 "possible problem in caching"

[2015-12-09 17:10] ftalbrecht commented on #197
See the `pymor_issue_197` branch in [this repo](http://dune-project.uni-muenster.de/repos/projects/parabolic-lrbms-rs2016-code.git).

[2015-12-09 18:42] renemilk commented on #173
I did try that for two issue categories in this project about 6 hours ago, @programmdesign , but I haven't gotten an email nor is there a new pull request. Could that be tied to that we currently have "analyze PR" setting on "Off" for this repo?

[2015-12-09 18:55] programmdesign commented on #173
Let me check. Which issue did you want to fix?

On 09.12.2015, at 19:42, Ren? Milk <notifications@github.com<mailto:notifications@github.com>> wrote:

I did try that for two issue categories in this project about 6 hours ago, @programmdesign<https://github.com/programmdesign> , but I haven't gotten an email nor is there a new pull request. Could that be tied to that we currently have "analyze PR"

[2015-12-10 12:38] sdrave opened #198 "do not add uid to auto-generated name"
Right now, if not specified by the user, BasicInterface.name returns

[code]

However, I never had a use case where adding the uid was helpful.
On the other hand, adding the uid to the name makes the name depend on global state (the uid depends on the order of object creation and the specific pyMOR run), which already broke caching for me (f5bc852de07d9a09cef50d4c1e98179ca66076be). I would propose

[2015-12-10 12:56] ftalbrecht commented on #198
I agree. Never have had a use for this, either...

[2015-12-10 13:03] #55 closed

[2015-12-10 13:15] sdrave commented on #108
Done in 70dfe23.

[2015-12-10 13:15] #108 closed

[2015-12-10 13:25] sdrave commented on #198
Done in 5e33949.

[2015-12-10 13:25] #198 closed

[2015-12-10 14:01] andreasbuhr commented on #194
I reproduced the problem I had. Indeed, it's sufficient to check for 'L' mode. The image I had problems with reports an 'I' mode.

[2015-12-10 14:11] sdrave commented on #194
Done in 5f426dd.

[2015-12-10 14:11] #194 closed

[2015-12-10 14:29] sdrave commented on #152
done in 1b73430.

[2015-12-10 14:29] #152 closed

[2015-12-11 10:19] sdrave commented on #120
We currently have `discretizers.disk` which is sufficient for now, IMHO. So I propose to close this issue.

[2015-12-14 08:47] #120 closed

[2015-12-14 08:49] #118 closed

[2015-12-16 08:47] sdrave opened #205 "handling of affinely decomposed data functions in analytical problems"
`EllipticProblem` currently has `diffusion_functions` and `diffusion_functionals` attributes for handling affinely decomposed diffusion tensors. The same would have to be done to allow affinely decomposed right hand sides or other data functions.

A more natural approach might be to chose `diffusion_function` as a `LincombFunction` and let the discretizer detect that case and to the right thing.

[2015-12-16 09:19] #189 closed

[2015-12-16 09:24] sdrave commented on #128
Since 0.4 is nearing completion, I would say we defer this issue to the start of the 0.5 development cycle. Any objections?

[2015-12-16 09:38] sdrave commented on #131
@pmli, I have just rebased the complex branch on current pyMOR master. Could you take another look if the branch contains all the  changes you need? If so, I would take one more look at performance and then merge ..

[2015-12-16 13:08] pmli commented on #131
@sdrave I no longer have `ComplexWarning`s appearing, so I don't need more changes, although I would like to add a more comprehensive test.

[2015-12-17 11:05] ftalbrecht commented on #128
Fine with me.

[2015-12-18 10:47] #197 closed

[2015-12-18 13:42] ftalbrecht commented on #205
Without thinking too much about it I would opt for the latter...

[2015-12-18 13:47] ftalbrecht commented on #103
I tend to favor the first option atm...

[2015-12-18 13:52] ftalbrecht commented on #67
We can draft this out once #126 is decided...

[2015-12-21 14:42] sdrave commented on #126
Just to sum up a discussion I just had with @gramian. A possible solution might be:

- Header:

[code]

- `DEVELOPERS.TXT` defines the list of pyMOR (core) developers who own the rights at the project as a whole.
- Every contributor holds the copyright to her own contributions.
- This will make relicensing impossible.
- Only non-trivial contributions (not fixing a few typos in the documentation, f

[2016-01-04 08:50] renemilk commented on #126
Sounds good to me :+1:

[2016-01-04 08:51] renemilk commented on #128
Not from me.

[2016-01-05 08:28] #161 closed

[2016-01-05 12:36] ftalbrecht commented on #126
The one thing I do not like about this is the need to manually maintain the list of contributors. This sounds like a lot of fun just before the release: someone needs to go through all the files in pyMOR, needs to take a look at all contributions and needs to decide for each contribution whether it is worth to be mentioned or not...

What is the problem with letting git automatically create the li

[2016-01-06 14:43] andreasbuhr opened #207 "No useful error message in case PySide.QtOpenGL cannot be imported"
In case the line
[code]
fails, there is no useful error message in file pymor/src/pymor/gui/gl.py .

[2016-01-08 13:05] sdrave commented on #103
I just tried to implement the second option but did not come to satisfying results. Adding an extra option to `reduce_generic_rb` just to handle the mass matrix feels wrong, in particular as we cannot pass it on to nested `IdentityOperators`. My general impression is still that we should remove `projected` from `OperatorInterface` and switch to a rule based approach to reduction algorithms (as don

[2016-01-08 13:05] #103 closed

[2016-01-08 13:06] sdrave opened #208 "Remove 'projected' from OperatorInterface"
Inheritance does not seem flexible enough to handle all possible special cases. Instead, we should switch to a rule-based approach.

[2016-01-08 13:07] sdrave commented on #103
See #208.

[2016-01-08 13:15] sdrave commented on #132
@pmli, I would like to feature freeze master for the 0.4 release in a few weeks. Do you have some code which is more or less ready for inclusion in official pyMOR or should we postpone this issue for the next release?

[2016-01-08 13:25] sdrave commented on #126
@ftalbrecht, its not as if we would have hundreds of contributors. I really do not see how we would detect trivial changes in an automatic way. Do you really want to give someone who fixed some documentation typos in 20 files copyright for all these files? Why do we not make it the contributors' responsibility to add their names (with possible comments) to all relevant files and the upcoming relea

[2016-01-08 13:29] sdrave opened #209 "Allow 'pip install pymor' to work even when numpy/scipy are not installed yet"
Current pip versions are able to install all dependencies without error. An option might be to issue a verbose warning (using `sleep`), when the missing dependencies are not installed yet. (We could then also warn that an appropriate toolchain is needed to compile the missing stuff.)

[2016-01-11 09:44] pmli commented on #132
Next release...

[2016-01-12 14:02] sdrave commented on #195
added fixtures for

ConstantOperator: 14cafdf94df96e590adad407b9518f3499a433a4
ZeroOperator: 220cd784c73792eba8dfcf03fb743a00d59b1dd8

[2016-01-12 14:06] sdrave commented on #131
I have just merged the 'complex_merge' branch into master.

[2016-01-12 14:06] #131 closed

[2016-01-12 14:07] sdrave opened #210 "add tests for complex valued NumpyVectorArrrays and NumpyMatrixOperators"
see #131.

[2016-01-13 16:17] sdrave opened #214 "remove 'dim_outer' from grid interface?"

[2016-01-14 09:47] renemilk commented on #130
We could give this another try on travis. We've since moved to a different infrastructure type there. But yes, finer grained separation would be good.

[2016-01-14 09:51] renemilk commented on #128
FYI, Landscape now support python 3, so I've re-enabled it. It tries to get python rev from setup.py classifiers, which seems to work.

[2016-01-14 10:23] renemilk commented on #173
I'd say if python 3 enabled landscape is working we drop this. Anybody against that?

[2016-01-14 11:06] sdrave commented on #173
Go ahead!

[2016-01-14 11:15] renemilk commented on #173
Done

[2016-01-14 11:15] #173 closed

[2016-02-09 17:19] sdrave commented on #209
The changes in the remove_dependency_check branch seem to resolve this issue, even with the ancient pip shipped with Ubuntu 14.04.
@renemilk, could you have a look if this is safe to merge?

[2016-02-11 08:43] sdrave opened #217 "Use BackHub?"
[BackHub](https://backhub.co/) seems to be an easy way to add some redundancy for the project metadata in case github turns evils. Shall we use it?

[2016-02-11 10:32] ftalbrecht commented on #217
Looks good to me, go ahead!

[2016-02-13 14:23] sdrave commented on #126
Ok, so I did some further research:

Regarding the copyright one should note that under current US law, a copyright notice is actually [optional](http://www.copyright.gov/circs/circ03.pdf) to retain copyright (although it is recommended to strengthen your position in case of a lawsuit). Moreover, in several countries including Germany, copyright cannot be (fully) transfered to another entity. The

[2016-02-13 14:31] sdrave commented on #210
I guess we should be fine for now when #216 has been merged.

[2016-02-15 11:11] sdrave commented on #67
@renemilk, @ftalbrecht, I have started writing CONTRIBUTING.md in the copyright branch. Please take a look and extend it if necessary.

[2016-02-15 15:27] ftalbrecht commented on #126
Sounds good to me! Thanks for crawling the internet!

[2016-02-16 08:47] renemilk commented on #217
Done. I've excluded dune-hdd, dune-hdd-demos and dune-grid-multiscale though, since (I think) those will move soon.

[2016-02-16 08:47] #217 closed

[2016-02-16 08:53] renemilk commented on #210
Agreed.

[2016-02-16 10:38] renemilk commented on #209
The branch works on my Ubuntu 15.10 box, but not on travis: https://travis-ci.org/pymor/pymor/jobs/109566378

[2016-02-16 10:45] sdrave commented on #209
@renemilk, not sure if this is true: the log says that the wheel failed to build but it later on claims to have successfully built scipy, pyMOR among other packages. (I believe I have experienced  a similar behavior locally.)

[2016-02-16 10:52] renemilk commented on #209
Uhm, right. I just got the mail for the restored build.
The pip install test adds about 13 minutes to the build time. I'll see about separating this into its own entry in the build matrix which in turn does not run py.test.

[2016-02-16 11:13] renemilk commented on #126
Entirely agreed.

[2016-02-16 11:37] renemilk commented on #209
Yupp, works: https://travis-ci.org/pymor/pymor/builds/109575478
hence #218

[2016-02-16 14:33] sdrave commented on #126
Just for future reference: FSF [recommends](https://www.gnu.org/prep/maintain/html_node/Copyright-Notices.html) to have the same date range for all files of the project.

[2016-02-16 21:07] gramian commented on #126
This could also be of interest: https://www.bitkom.org//Publikationen/2016/Leitfaden/Open-Source-Software-20/Bitkom-Leitfaden-Open-Source-Software-20.pdf

[2016-02-17 09:58] sdrave commented on #207
Fixed in 3a180abfa9dcb5b56f23d464f925046ae581a37e.

[2016-02-17 09:58] #207 closed

[2016-02-17 11:49] #209 closed

[2016-02-17 13:13] sdrave opened #219 "add minimum versions for dependencies"

[2016-02-17 14:26] sdrave opened #220 "landscape pull request checks do not complete"
see #215

[2016-02-18 07:31] sdrave commented on #126
The changes are now in master: 3285677a73b0a2c6442b16590139bd5ad80c4d02.

[2016-02-18 07:31] #126 closed

[2016-02-18 07:31] sdrave commented on #67
The changes are now in master: 3285677.

[2016-02-18 07:31] #67 closed

[2016-02-18 13:00] #195 closed

[2016-02-18 13:33] sdrave commented on #219
Done in e9e97fa7510319c2c61844690f2b2c0fe29d2339.

[2016-02-18 13:33] #219 closed

[2016-02-19 09:11] sdrave commented on #210
Done: f199480d85f9f384c75582a644c5683737f2649d.

[2016-02-19 09:11] #210 closed

[2016-02-19 10:18] sdrave opened #222 "coveralls.io is broken"
See here: https://coveralls.io/builds/5131945

[2016-02-19 14:01] sdrave opened #224 "rename reductors"
@JuliaBru told me that `pymor.reductors.linear.reduce_stationary_affine_linear` and
`pymor.reductors.stationary.reduce_stationary_coercive` are not very intuitive names, and I agree. How should we name them (@ftalbrecht)?

[2016-02-19 14:05] sdrave commented on #224
Maybe `reduce_coercive` and `reduce_coercive_simple` in `pymor.reductors.coercive`?

[2016-02-19 14:58] ftalbrecht commented on #224
What you propose could do. I do not have a better name at the moment...

[2016-02-22 09:23] #222 closed

[2016-02-22 10:24] renemilk commented on #220
[reported](https://github.com/landscapeio/landscape-issues/issues/217)

[2016-02-25 08:13] sdrave commented on #151
Done in c2db09f1294444d906bb203c264165b737d914a.

[2016-02-25 08:13] #151 closed

[2016-02-25 08:54] sdrave commented on #224
Done in 16a56cb5b0212cd138b7cb64dabc29feffc4fb64.

[2016-02-25 08:54] #224 closed

[2016-02-25 08:57] sdrave commented on #132
Implemented in #215.

[2016-02-25 08:57] #132 closed

[2016-02-25 08:58] sdrave opened #227 "find a better way for indexing VectorArrays"

[2016-03-01 08:53] sdrave opened #228 "merge fixes in python3 branch back to master"
Just to ensure we do not forget to do this before 0.4.

[2016-03-15 12:08] renemilk opened #233 "Harmonize file encodings?"
Currently we seem to mostly have python files with ASCII and with a few UTF-8. Should we harmonize that?

[code]

[2016-03-15 18:22] sdrave commented on #233
What would you mean by "harmonizing"? The UTF files are those which contain mathematical symbols in their docstring. Would you want to remove these symbols?

[2016-03-16 10:44] renemilk commented on #233
Didn't check _why_ those files were UTF. Wouldn't it be nicer to have just one encoding, UTF, across the repo?

[2016-03-16 14:10] sdrave commented on #233
Yeah, but aren't files which only contain ASCII characters at the same time UTF-8 files?

[2016-03-16 15:33] renemilk commented on #233
Not according to ```file```, no.

[2016-03-17 08:59] sdrave commented on #233
Sorry, I don't get it. Do you want to forbid non-ASCII characters or do you want to add an UTF-8 character to each source file?

[2016-03-21 10:20] renemilk commented on #233
Apparently I-ve jut mis-aasumed the workings of ```file```

[2016-03-21 10:20] #233 closed

[2016-04-14 15:04] pmli opened #234 "Operator to NumpyMatrixOperator or NumPy array"
There are a few methods I need that can currently only work with dense matrices, e.g. H_inf-norm computation. Some day, there might be standard large-scale versions of these methods that can work with operators, but I would like to use what I can now.

@sdrave What do you think about adding something like a `tonumpy` method to `OperatorInterface`? Or at least a version of `_matrix` from `NumpyMatr

[2016-04-14 15:28] pmli opened #235 "NumPy array to VectorArray"
Wrapping methods (such as `scipy.sparse.linalg.eigs`) that can work with operators means that operators' `apply` methods need to be wrapped so that they accept and return NumPy vectors/arrays. For returning NumPy arrays, there is an optional `data` property in `VectorArray`s, but for accepting, only `NumpyVectorArray` has a constructor which accepts NumPy arrays.

@sdrave How about adding `from_nu

[2016-04-14 15:45] pmli opened #236 "VectorArray.l2_norm matrix version"
Something more efficient than `numpy.sqrt(numpy.sum(vector_array.l2_norm() ** 2))` would be nice to have. This appears, e.g. in H_2-norm computation.

[2016-04-18 10:38] sdrave commented on #236
Hi @pmli, I would consider adding such a method if needed. However, do you have a use case, where you really see a performance improvement when using a single call to compute the norm?

[2016-04-18 11:21] sdrave commented on #234
I am very open to adding provisions to make directly dealing with matrix data more easy. pyMOR's current design is quite puristic and to make it usable for a wider audience, direct data access should be "officially" supported. Some thoughts:

1. I am somewhat hesitant to add data access methods directly to the `OperatorInterface`. pyMOR's current main selling point is that all its algorithms work

[2016-04-18 11:27] sdrave commented on #235
I guess, this should also be seen in view of #234. I am a bit more open to add methods the the array themselves since I feel that there are a lot of cases where you do not have direct access to matrix data but you can access the vectors.

However, how would `BlockVectorArray.from_numpy` look like? At least, you would have to specify the subtype, I guess?

[2016-04-18 11:58] pmli commented on #236
As far as runtime goes, Frobenius norm computation in H_2-norm computation is negligible. Accuracy, on the other hand, is deteriorated by extra square root and squaring operations. Not by very much, between 1 and 3 digits of accuracy are lost, depending on the size of the low rank Gramian factor.

How about adding `l2_norm2`, a squared version of `l2_norm`? It can call `numpy.sum(array ** 2, axis=

[2016-04-18 12:51] pmli commented on #235
Yes, you're right, `VectorArray` is not enough, `VectorSpace` is necessary. This is actually what I have, because I'm given an operator, and therefore also its source. So, maybe a function `VectorSpace.from_numpy(array)`, which would call `self.type.from_numpy(array, self.subtype)`?

[2016-04-18 13:43] pmli commented on #234
Ok, I will work on a recursive function in `algorithms` for extracting a matrix from a construction of `NumpyMatrixOperator`s.

I just want to point out that I opened this issue because of methods that can't even work with sparse matrices, only dense. So, at least here, an answer to 5. is clear. In general, the function could have an option to choose between sparse or dense.

[2016-04-19 08:36] sdrave commented on #236
Adding `l2_norm2` sounds like a good idea, could be useful elsewhere as well. Go ahead! :)

[2016-04-19 08:39] sdrave commented on #234
Fine!

[2016-04-19 08:45] sdrave commented on #235
Sounds good to me. Thinking of the `data` property, maybe, we should better call it `from_data`? This would also give us the option to use the method in other situations (e.g. instantiating vectors in external solvers which have a more complicated data format).

@ftalbrecht, @renemilk, any objections?

[2016-04-19 08:52] pmli commented on #236
:+1:

[2016-04-19 14:19] ftalbrecht commented on #235
No, `from_data` sounds good to me. As a class method on vector arrays, then?

[2016-04-19 14:20] ftalbrecht commented on #234
I also lean towards (5) in the long run...

[2016-04-19 14:44] sdrave commented on #234
@ftalbrecht, what do you mean by (5)?

[2016-04-19 14:44] sdrave commented on #235
I would agree with @pmli to add it to `VectorSpace` and the `VectorArray` implementations.

[2016-04-19 15:17] ftalbrecht commented on #235
agreed

[2016-04-19 15:18] ftalbrecht commented on #234
By (5) I mean 6. :/

[2016-04-26 08:35] renemilk commented on #228
Relevant were:
- 03c5a9166d4cfcd0bc191d6c0c095bf22a87f089
- 9e38162f4aa48efcb8811ad0e5081e6f17f37954
- 96aab259d1dbb705fbc71c0759cb8e260a2b0891

Only the last one was not already on master, which I've corrected just now.

[2016-04-26 08:36] #228 closed

[2016-05-04 08:57] #236 closed

[2016-05-09 11:56] sdrave opened #240 "Persistent caching is broken in Python 3 branch"

[2016-05-10 08:11] sdrave commented on #240
This should be fixed in 24b59bc37068e734645758a0a82c53c4b38cee1d.

[2016-05-10 08:11] #240 closed

[2016-05-11 10:22] sdrave opened #241 "pip install git+https://github.com/pymor/pymor@python3 fails under Python 2 in clean venv"
The command succeeds after numpy has been installed into the venv. master does not have this problem. Also, the command works when using a Python 3 venv.

[2016-05-12 07:23] sdrave opened #242 "ensure that 3to2 is not run twice"

[2016-05-14 17:32] andreasbuhr opened #244 "Somehow dependency handling broken with python3"
Hi,

with python3, I keep getting messages like

    There are some suggested packages missing:

    ipyparallel:  required for pymor.parallel.ipython

    pyside:       solution visualization for builtin discretizations

    try: 'pip install ipyparallel pyside'

even though pyside is installed and importable.

[2016-05-14 17:48] andreasbuhr commented on #244
It seems the import name was not set in dependencies.py. See pull request:
https://github.com/pymor/pymor/pull/245

How did this ever work? At least on my machine, the import name is "PySide" also in python 2.

[2016-05-17 06:58] renemilk commented on #244
Not sure yet what happened here, but all in-source references also use PySide.

[2016-05-17 07:01] renemilk commented on #244
Puzzling. IMO #245 is the correct fix.

[2016-05-17 08:28] sdrave commented on #244
I have merged #245, what about ipyparallel? `import ipyparallel` is working in my venv ..

[2016-05-17 08:30] sdrave commented on #244
I also do not get the error message ... @andreasbuhr, can you have a look what happens in `setup.py` on your machine? Should be easy to set a break point.

[2016-05-17 08:47] andreasbuhr commented on #244
ipyparallel was not installed correctly. It worked after an "pip uninstall ipyparallel; pip install ipyparallel".

[2016-05-17 08:47] #244 closed

[2016-05-17 10:32] sdrave opened #247 "remove 'product' parameter from 'apply2'?"

[2016-05-20 15:06] renemilk commented on #220
Seems to have fixed itself.

[2016-05-20 15:06] #220 closed

[2016-05-20 15:12] renemilk commented on #241
Cannot replicate with python 2.7.11, pip 8.1.2, virtualenv 15.0.1

[2016-05-20 15:14] renemilk commented on #128
I now have functioning dolfing packages for python 3 on trusty and xenial in our ppa. Non-MPI Travis tests are green.

[2016-05-24 13:15] sdrave commented on #241
@renemilk, works for me when I upgrade setuptools from  5.5.1 to 21.2.1. What version do you have?

[2016-05-24 13:52] renemilk commented on #241
20.7.0-1

[2016-05-25 15:03] sdrave commented on #241
Ok, so I really do not understand why this makes much of a difference, but putting 3to2 at the beginning of the dependency list resolves the issue (see  4c95dc0).

[2016-05-25 15:03] #241 closed

[2016-05-25 15:03] sdrave commented on #242
Done in  4c95dc0.

[2016-05-25 15:03] #242 closed

[2016-06-05 16:11] denfromufa opened #250 "license - not clear"
What is pymor's license? Not clear - MIT, GPL, LPL, BSD, Apache?
I understand that some of dependencies are GPL.

[2016-06-06 07:38] renemilk commented on #250
Hi there! You can view our license information here: https://github.com/pymor/pymor/blob/master/LICENSE.txt
which is to say we're using the BSD-2 Clause license.

[2016-06-06 13:57] sdrave opened #251 "Replace 'discretization'/'reconstructor' by 'd'/'rc'"
In several places we use 'discretization' or 'reconstructor' as variable or parameter names. This is very verbose. Writing just 'd' and 'rc' should be as easy to understand and improve readability.

[2016-06-07 16:27] renemilk commented on #250
Does that answer your question @denfromufa ?

[2016-06-07 16:36] denfromufa commented on #250
Thank you, the issue can be closed.

On Tuesday, June 7, 2016, René Milk <notifications@github.com> wrote:

[2016-06-07 16:46] #250 closed

[2016-06-08 07:36] sdrave commented on #247
I guess the only reason to have it would be to allow specialized `apply2` implementations in the solver that are faster than an `apply` on the operator followed by `apply2` on the product. Right now, there is no code making use of it, and I do not see that this will change in the future.

[2016-06-08 07:42] sdrave opened #252 "Split `VectorArrayInterface.data` into several methods with clear semantics."
Right now, `data` can be a (mutable) view of the `VectorArray` data or simply a copy. It might be better to have three methods which always return
1. a copy
2. a readonly view or copy
3. a modifiable view

There should be a distinction between 1 and 2 for efficiency  reasons. Another option would be to make `data` a method an add appropriate parameters.

It is also unclear how `ListVectorArray` sh

[2016-06-08 07:44] sdrave commented on #235
This is related to #252.

[2016-06-08 08:03] sdrave opened #253 "Define a policy on adding algorithms which directly operate on NumPy arrays"
While pyMOR's interface design has many benefits (e.g. allowing matrix free implementations, mpi distributed data without any additional work), there are many relevant MOR algorithms which directly need access to the data. They fall into two categories:
1. algorithms which only require access to vector data (e.g. interfacing with M.E.S.S.)
2. algorithms which require access to vector and matrix da

[2016-06-08 08:37] sdrave commented on #235
and to #253 ...

[2016-06-08 08:37] sdrave commented on #234
This is related to #253 and #252.

[2016-06-08 08:42] sdrave commented on #227
A possible solution would be that indexing an `VectorArray` always returns an `IndexedVectorArray`, a fixed proxy class which simply holds a (non-weak?) reference to the array and the indices. All interface methods would simply call the original interface method passing the indices an appropriate 'ind' parameter.

All other functions/methods which take an array do no longer have an `ind` parameter

[2016-06-08 08:43] sdrave commented on #214
There are no grids in pyMOR with `dim_outer != dim` and this will probably never change.

[2016-06-08 08:45] sdrave commented on #172
@renemilk, have you encountered this again, or should we assume that the problem has resolved itself?

[2016-06-08 08:46] renemilk commented on #172
Nope, haven't seen it this year. Am ok with assuming self resolving bug.

[2016-06-08 08:46] #172 closed

[2016-06-08 08:46] sdrave commented on #128
@renemilk, if I remember correctly there are still some issues with vtk writing? Maybe we should close this issue and open another one?

[2016-06-08 08:47] sdrave commented on #109
Maybe pymormodels would be a nicer name.

[2016-06-08 08:47] renemilk commented on #128
Sounds good. I'll check what (tris/cubes) was still misbehaving and open a more focused issue in a bit.

[2016-06-08 08:47] #128 closed

[2016-06-08 08:53] sdrave opened #254 "Decide on the future of pyMOR's discretization toolkit"
It might be an option to always use an external solver library (fenics, ngsolve) and only keep the analytical problems with their associated data. The discretizers would be replaced by functions which use the external solvers instead of our own.

[2016-06-08 09:06] renemilk commented on #128
Turns out both are OK.

[tria_cube.zip](https://github.com/pymor/pymor/files/304397/tria_cube.zip)

[2016-06-08 09:15] sdrave commented on #128
Was it just the grid or the combination with codim 0/2 data?

[2016-06-08 09:15] renemilk opened #255 "pyevtk install"
We still depend on pyevtk being installed like `pip3 install https://bitbucket.org/pauloh/pyevtk/get/tip.tar.gz` instead of just `pip3 install pyevtk`. This is not really reflected anywhere. And it's also unclear when/if there will be a new pypi release of it.

[2016-06-08 09:17] renemilk commented on #128
Afaicr only the grid.

[2016-06-08 11:40] ftalbrecht commented on #247
No objections against dropping this...

[2016-06-08 13:34] sdrave opened #257 "replace 'BoundaryTypes' by strings"
The only reason we have a `BoundaryType` class is to prevent difficult to track errors due to typos. `'dirichlet'` is much nicer to write than `BoundaryType('dirichlet')`. At relevant places (constructor of a `DomainDescription`) we could still check with a global boundary type registry if that is really desired.

[2016-06-08 15:58] sdrave commented on #190
Done in #256, #258.

[2016-06-08 15:58] #190 closed

[2016-06-09 06:36] sdrave opened #259 "Decide how to treat complex vector spaces in pyMOR"
Thanks to @pmli we have some basic support for complex numbers in pyMOR. However, we have to discuss in more detail how to generally treat sesquilinear forms and antilinear functionals in pyMOR. See #248.

[2016-06-09 06:37] sdrave commented on #235
Implemented in #239.

[2016-06-09 06:37] #235 closed

[2016-06-09 11:09] sdrave commented on #227
I did a proof of concept implementation in 5af7c55dcde7e35793fe474c6ed1f9ac013c1afb. Seems to work very well!

[2016-06-09 13:52] ftalbrecht commented on #227
Just looking at the Gram Schmidt alone, I find this much more readable!

[2016-06-16 09:11] sdrave opened #260 "Provide wheels for pyMOR?"
See https://github.com/pypa/manylinux.

[2016-06-16 11:05] sdrave opened #261 "Remove 'replace' from VectorArrayInterface"
`replace` is used nowhere in pyMOR and I doubt that there are many situations where it is useful.

[2016-06-16 11:16] sdrave opened #262 "Remove caching of `assemble` in NumpyMatrixBasedOperator and LincombOperator?"

[2016-06-16 11:59] sdrave opened #263 "Remove deprecated reductors.linear module"

[2016-06-16 12:03] sdrave opened #264 "Remove 'local parameter names' feature"
The feature is currently unused in pyMOR (every call to `build_parameter_type` uses `local_global=True`) and makes parameter handling unnecessarily complex.

[2016-06-23 11:59] sdrave commented on #263
Done in 3415d2f.

[2016-06-23 11:59] #263 closed

[2016-06-23 13:37] sdrave opened #266 "add a way to associate additional data with VectorArrays"
For instance, when the vectors in U represent a time trajectory, U.times could contain an array with the points in time corresponding to the vectors in the array (think of adaptive timestepping).

[2016-07-12 15:15] sdrave opened #269 "Provide a helpful error message when cython modules are missing"
We could so by providing stubs in '.py' files which raise an error when they are called.

[2016-07-14 10:54] sdrave commented on #269
#270 probably breaks documentation generation on readthedocs ...

[2016-07-14 11:50] renemilk commented on #269
Indeed :unamused:

[2016-07-16 22:56] pmli opened #271 "Jupyter notebooks for demos?"

[2016-07-16 22:58] pmli opened #272 "`__sum__` method for Operators?"

[2016-07-17 00:31] pmli opened #273 "InverseOperator in operator/constructions.py?"

[2016-07-21 10:42] pmli commented on #272
Also `__mul__`?

[2016-07-28 11:04] sdrave commented on #273
Yes, there should definitively be an InverseOperator. (We planned this already when introducing `OperatorInterface.apply_inverse`.

[2016-07-28 11:06] sdrave commented on #272
Do you mean __add__? This is already part of `OperatorInterface`.

[2016-07-28 11:09] sdrave commented on #271
Good idea! This could also free us from having to do the tedious command line parsing. Only issue is that we use the demos for system testing as well. Maybe one could use `nbconvert`? But how to test different variants as we are doing now using the command line arguments?

[2016-07-28 11:10] sdrave commented on #269
Should be working now ..

[2016-07-28 11:10] #269 closed

[2016-07-28 11:22] pmli commented on #272
Cool!

Right now, `__mul__` can only multiply an operator and a scalar. Maybe have `__mul__` also multiply (concatenate) operators?

[2016-07-28 11:30] pmli commented on #271
I was thinking of using notebooks purely for demos, something new users could play with. I'm not sure how to do system testing with them. Maybe they would be appropriate for a different repository?

[2016-07-28 11:49] sdrave commented on #272
`ParameterFunctionals` should probably be supported as well.

[2016-07-28 11:52] sdrave commented on #272
Right now, `A + B + C` would create `LincombOperator([LincombOperator([A,B], [1,1]), C], [1,1])`.
We could change that to `LincombOperator([A,B,C], [1,1,1])`. Doing so, one would never have to explicitly construct a `LincombOperator`. On the other hand: The implementation would be more complicated, and I am not sure if the 'flattening' of the operator tree is always desired.

[2016-07-28 12:04] sdrave commented on #271
pyMOR surely needs better learning materials. And I agree that notebooks would be the best option.

[2016-07-28 12:09] sdrave commented on #266
We could have an `scalar_data` attribute which is either `None` or a structured array (or better dict of arrays?) with the same length as the array. The `scalar_data` is copied/deleted with the corresponding vectors. Question would be what to do when the vector changes.

[2016-07-28 12:24] sdrave commented on #254
pyMOR's current toolkit took quite a bit of effort to write. Still, it is rather quite limited in what it can do. Expressing finite element assembly via vectorized operations is complicated for newcomers, and I am unsure how much more can/should be implemented in this style. On the other hand, external solvers are not written with model reduction in mind, and are less easy to play around with. A r

[2016-07-28 14:31] sdrave opened #274 "Use table of transformation rules instead of inheritance to implement reduction algorithms"
Currently we mainly use inheritance to implement reduction algorithms. For instance, `LincombOperator` overrides `projected` by calling the method on each of the sub-operators. Thus, to modify the algorithm for a specific operator, one has the following options:
- Change the implementation of `projected` for the given Operator type.
  This is only possible when the user is able to modify the class

[2016-07-28 14:33] sdrave commented on #208
See #274.

[2016-07-28 14:33] #208 closed

[2016-07-28 14:45] sdrave commented on #274
One example can be found in #103 where we discussed to default `InstationaryDiscretization.mass` to `IdentityOperator(d.solution_space)` instead of `None`. However, this would have lead to `NumpyMatrixOperators` as reduced mass `Operators` instead of a new `IdentityOperator` which would be the better result in case of an l2-orthonormal basis. In general, `IdentityOperator.projected` cannot now whe

[2016-07-28 15:02] sdrave opened #275 "Add 'kind'-attribute to OperatorInterface"
pyMOR makes no distinction between operators, functionals or vector-like quantities. A functional is simple an `Operator` with `NumpyVectorSpace(1)` as `range`. A vector-like `Operator` has `NumpyVectorSpace(1)` as `source`. This works all very well except for the fact that for one-dimensional reduced spaces, all these objects become indistinguishable. Also, it might be desirable to have functiona

[2016-07-29 16:46] pmli opened #276 "Infinite recursion in apply for IdentityOperator * scalar"
[code]
causes `RuntimeError: maximum recursion depth exceeded in comparison`.

(Observed when replacing `LincombOperator((A, I), (1, p))` with `A + I * p`.)

[2016-07-30 20:59] sdrave commented on #276
Hi, I have just pushed f562037334f5f4a37d82615fa8f6232bf0477b14 to master and the 0.4.x branch, which should make the above code work.

[2016-07-30 20:59] #276 closed

[2016-08-01 11:41] ftalbrecht commented on #253
There shall be a seperate module for "bad" algorithms (with a better name). No need for anything in between, just algorithms which act on the interfaces and those with any requirement...

[2016-08-01 12:06] ftalbrecht commented on #252
Case 1 and 2 shall be handled by a method `arra()`, `numpy()`, `A()` or the like with a `copy` argument. Case 3 should not be handled in a generic way at all, since it is only of interest to implementors...

[2016-08-01 12:09] ftalbrecht commented on #264
pyMOR developer meeting: Shall be dropped.

[2016-08-01 12:10] ftalbrecht commented on #214
pyMOR developer meeting: shall be removed.

[2016-08-01 12:34] ftalbrecht commented on #271
pyMOR developer meeting: use notebooks as user examples, use current demos mainly for testing.

[2016-08-01 13:03] ftalbrecht commented on #109
pyMOR developer meeting: move everything out to a separate package, including analytical problems, domaindiscretizers, etc...

[2016-08-01 13:06] ftalbrecht commented on #254
pyMOR developer meeting: this is up to those implementing it...

[2016-08-01 13:14] ftalbrecht commented on #177
pyMOR developer meeting: use as default after _the_ green issue has been resolved.

[2016-08-01 13:23] ftalbrecht commented on #266
pyMOR developer meeting: would be nice to have, if performance hit dor the reduced case it not too large.

[2016-08-01 13:24] ftalbrecht commented on #261
pyMOR developer meeting: drop

[2016-08-01 13:25] ftalbrecht commented on #257
pyMOR developer meeting: no objections

[2016-08-01 13:39] ftalbrecht commented on #259
pyMOR developer meeting: further discussion between Andreas and Stephan required, the rest is currently not really affected...

[2016-08-01 13:41] ftalbrecht commented on #247
pyMOR developer meeting: no objections.

[2016-08-01 13:56] ftalbrecht commented on #227
pyMOR developer meeting: proceed, but document reasons against other approaches.

[2016-08-01 14:01] ftalbrecht commented on #275
pyMOR developer meeting: proceed

[2016-08-01 14:06] ftalbrecht commented on #272
pyMOR developer meeting: solve #274 first

[2016-08-01 14:07] ftalbrecht commented on #205
pyMOR developer meeting: proceed

[2016-08-01 14:28] ftalbrecht commented on #274
pyMOR developer meeting: lets gather more information and use cases and investigate further.

[2016-08-01 14:34] ftalbrecht commented on #262
pyMOR developer meeting: "I think its a good plan!" (Stephan)

[2016-08-01 17:29] #214 closed

[2016-08-02 14:55] #261 closed

[2016-08-02 16:18] sdrave opened #280 "Remove 'projection' parameter from ei_greedy"
I am not sure when `projection='orthogonal'` would be really useful. Even though RBMatlab has it, I am not aware of any literature discussing this variant. Removing this feature would simplify the implementation ..

[2016-08-04 08:33] #247 closed

[2016-08-04 13:32] sdrave opened #282 "Raise an error in discrtize_elliptic_fv if problem contains advection or reaction terms"
Currently the method simply ignores these fields.

[2016-08-04 20:30] pmli opened #283 "dependencies.py doesn't work"
Currently, it raises `TypeError: can only concatenate list (not "dict") to list`.

[2016-08-08 06:41] renemilk commented on #283
Could you please tell me how/when you ran into this? On master with python3? Thanks!

[2016-08-08 07:23] pmli commented on #283
Yes, on current master, running with python3.

[2016-08-08 08:02] sdrave commented on #283
I guess the error occurs when executing `dependencies.py` as main script. Is probably broken for quite a while.

[2016-08-08 08:03] renemilk commented on #283
Yeah, I wasn't seeing how we'd get that error otherwise..

[2016-08-09 14:31] gramian commented on #177
I would currently suggest to use the "perceptually uniform sequential colormaps" from matplotlib: http://matplotlib.org/examples/color/colormaps_reference.html . They are safe for colorblind people, have good grayscale conversion and look "smooth" due to the "perceptually uniform" design.

[2016-08-11 13:51] sdrave opened #284 "vtk output partially broken"
Executing the following code

[code]

creates vtk output which cannot be read by paraview 5.0.0. Opening one of the vtu files crashes paraview. Opening the pvd file leads to

[code]

[2016-08-18 09:07] sdrave commented on #271
[This](http://mybinder.org/) looks very interesting. Would be great if we could make this work for the notebooks.

[2016-08-18 09:48] sdrave commented on #282
Not true. Must have been dreaming ..

[2016-08-18 09:48] #282 closed

[2016-08-18 09:49] sdrave commented on #283
Do we need the __main__ script for anything, or can we simply remove it?

[2016-08-31 19:20] pmli commented on #188
What about `ZeroOperator.apply_adjoint`?

[2016-09-01 07:58] pmli commented on #283
How do you suggest to list dependencies, such that they can be easily installed using pip?

[2016-09-06 10:40] sdrave opened #287 "remove core.decorators module"
The `Deprecated` might better fit into the tools package, everything else seems unused ...
@renemilk, any comments?

[2016-09-06 10:42] sdrave opened #288 "remove lock/unlock from BasicInterface"
`lock` should be directly implemented in `ImmutableInterface`, `unlock` should never be used (if you feel like hacking, you can still use `immutable_object.__dict__['attribute'] = value`).

[2016-09-06 10:44] renemilk commented on #287
Fine with me.

[2016-09-06 10:46] sdrave opened #289 "Define what CacheRegion.set does when key is already present in region"
`SQLiteRegion` raises an error whereas `MemoryRegion` overwrites the value. Setting the same key twice should never happen, so we should require the `CacheRegion` to raise an error.

[2016-09-06 10:54] sdrave opened #290 "merge parameters of gram_schmidt algorithm?"
Setting `reiterate` to `False` is equivalent to setting `reiteration_threshold` to 0. Setting `check` to `False` is equivalent to setting `check_tol` to `np.inf`, and the implementation could be changed to only perform the check when `check_tol` is finite.

[2016-09-06 12:25] renemilk commented on #290
I like the more explicit way.

[2016-09-08 13:24] pmli opened #291 "Systems theory MOR methods"
Hi @sdrave, @ftalbrecht, @renemilk! I think my `lti_sys_mor` branch is ready to be added here as a development branch. There are still some issues to resolve (like #285) and I would very much appreciate your help with adapting to pyMOR's framework (such as using caching, logging...).

How do you suggest to proceed?

[2016-09-08 15:17] sdrave commented on #289
Actually, `SQLiteRegion` only prints a warning. This is reasonable behavior, since the same persistent cache region can be used at the same time by different processes. The same could happen for `MemoryRegion` when doing multithreading.

[2016-09-08 15:24] sdrave commented on #289
I have added a warning to `MemoryRegion` in 46343b5.

[2016-09-08 15:24] #289 closed

[2016-09-08 15:25] sdrave commented on #283
@pmli, `pip install pymor` should install all required dependencies. However, if you feel this is useful, we can fix the current `__main__`, of course ..

[2016-09-08 15:39] sdrave commented on #291
Hi @pmli, great to hear that! I will take a closer look at your code next week.
I guess it would be nice to have a place where we both have push access. I guess we could add a pymor-sys-mor repo to the pyMOR organization where you have push access as well. Or we wait for your application to become a pyMOR developer ..

[2016-09-09 19:27] pmli commented on #283
Aha, ok, then `pip install pymor; pip uninstall pymor` will only install the dependencies (for "developer mode")?

[2016-09-20 12:05] sdrave commented on #283
Yeah, thats the intention.

[2016-09-20 13:03] sdrave opened #293 "mpi4py broken on Ubuntu 16.04"
So, Ubuntu managed to ship a broken mpi4py package:

https://bugs.launchpad.net/ubuntu/+source/mpi4py/+bug/1583432

We need to take care of this when releasing pyMOR 0.4 ...

[2016-09-22 08:58] renemilk commented on #293
One thing we can do ofc is ship a rebuilt package in our PPA. Other than that we can't do much about it, can we?

[2016-09-22 10:14] #283 closed

[2016-09-27 16:04] sdrave commented on #293
Guess not. We now have packages in our PPA, so closing this one.

[2016-09-27 16:04] #293 closed

[2016-10-04 08:11] sdrave opened #294 "use python-versioneer for version string generation"
Given the many issues we have had with version strings, [this](https://github.com/warner/python-versioneer) might be something to look into, @renemilk?

[2016-10-04 08:12] sdrave opened #295 "use hypothesis for unit testing?"
Maybe we could [this](http://hypothesis.works/) to make our unit tests somewhat simpler?

[2016-10-04 08:14] sdrave opened #296 "Add more randomized SVD algorithms"
Randomized SVD algorithms work perfectly with matrix-free operators, so they would fit perfectly into pyMOR. For a start, we could take a look at Facebook's [implementation](https://github.com/facebook/fbpca).

[2016-10-04 12:10] renemilk commented on #294
I skimmed the readme and didn't immediately see what we would be gaining by replacing our current setup.

[2016-10-04 12:59] renemilk commented on #295
I'm not convinced it's worth the effort rewriting existing tests from what little I've read about the tool.
Is there much more to gain than data setup like here: http://hypothesis.readthedocs.io/en/latest/extras.html#hypothesis-numpy ?

[2016-10-04 13:20] sdrave commented on #295
Well until now, I have not found a nice way to parametrize fixtures with pytest (see the VectorArray fixtures). Using hypothesis might improve the situation. However, I haven't really looked at it myself .. [This](http://hypothesis.readthedocs.io/en/latest/stateful.html) also looks quite interesting.

BTW, when the indexing stuff is ready, we will have to rewrite large parts of the tests, anyway.

[2016-10-06 10:15] renemilk commented on #260
Ongoing: https://github.com/pymor/pymor-wheels

[2016-10-10 08:29] sdrave opened #297 "pip install pyMOR fails when git is not installed"
See the following error message:

[code]

I have just checked the tarball, there _is_ a `version.py` inside, so I really do not understand why git gets called. @renemilk, could you take a look?

[2016-10-10 08:32] sdrave commented on #297
Ok, so the reason is that I have tried to install pyMOR 0.4 with Python 3. However, I do not really understand why `version.py` fails to import. Maybe we should add a Python version check to the 0.4.x branch?

[2016-10-10 08:51] renemilk commented on #297
You're thinking in ```setup.py```? Should work.

[2016-10-10 09:01] sdrave commented on #177
Speaking with @gramian again, we should be fine with using matplotlib's color maps, in particular with its new default 'viridis'. We should have that once #176 has been merged. Closing this one.

[2016-10-10 09:01] #177 closed

[2016-10-12 16:01] renemilk commented on #260
I've managed to get wheels for python 3.{
4,5} : [pymor-wheels.zip](https://github.com/pymor/pymor/files/525000/pymor-wheels.zip)
Wheeling 2.7 currently fails during building pyzmq due to too old glibc (I think)

[2016-10-16 18:59] sdrave commented on #227
I have now implemented a version of the proposal in #299. Main difference is, that the `ind` parameters are completely removed the `VectorArrayInterface`. While `NumpyVectorArray` is implemented by using the above approach (the methods have an optional, keyword-only `_ind` parameter), `ListVectorArray` is implemented using another approach.

Regarding other indexing approaches: Since Vectorarrays

[2016-10-19 12:36] sdrave opened #300 "Resurrect DiskVectorArray from the graveyard"
With #299, `DiskVectorArray` is moved to the graveyard as updating the code seems to worth it.
For the next release it would be nice to have a new implementation. Two variants would be possible:
1. Write a `DiskVector` and use `ListVectorArray`
2. Write a new `DiskVectorArray` which wraps an arbitrary other array by serializing it.

Right now, I feel that the first approach is more useful. In any

[2016-10-19 12:37] sdrave opened #301 "transform range to xrange in 3to2"
Currently, tests fail for Python 2 if we apply the range->xrange rule of 3to2. We should check why this is the case and if we can work around this issue.

[2016-10-19 12:44] sdrave opened #302 "Allow undefined behavior for axpy with repeated vectors in modified array?"
Right now it is forbidden to have repeated vectors in the left-hand side of the `axpy` call. Regarding #299, the implementation of `ListVectorArrayView` could be simplified if we do not require this to raise an error but allow undefined behavior in this case.

[2016-10-19 12:57] pmli opened #303 "Add apply_adjoint to NumpyGenericOperator?"
I want to use data sparse matrices (e.g. identity plus rank-1) as operators, but `NumpyGenericOperator` doesn't define `apply_adjoint`, which I need. Is there already a way to wrap some `apply` and `apply_adjoint` methods or is it better to modify `NumpyGenericOperator.__init__`?

[2016-10-19 13:20] sdrave commented on #303
Hmm, i would probably add an optional `adjoint_mapping` and implement `apply_adjoint` to raise an error if `adjoint_mapping` has not been specified. Regarding your application: Maybe it would also be an option to have a generic `Rank1Operator` which computes `R.lincomb(S.dot(V))`? One could also use a `Concatenation` of a `VectorFunctional` and a `VectorOperator`. Then one could have a `LincombOpe

[2016-10-19 14:24] sdrave commented on #284
Also, the error message in `gui.qt` regarding missing vtk still complains that `pyvtk` should be installed instead of the new library.

[2016-10-19 14:25] sdrave commented on #284
pyvtk supposedly now also supports Python 3. Given the remaining issues, would it be an option to switch back to pytk, @renemilk?

[2016-10-19 14:30] sdrave commented on #288
Done in  c6516c7

[2016-10-19 14:30] #288 closed

[2016-10-19 14:35] sdrave commented on #290
Ok, closing.

[2016-10-19 14:35] #290 closed

[2016-10-19 15:39] #227 closed

[2016-10-19 18:36] sdrave commented on #287
Done in  1742152.

[2016-10-19 18:36] #287 closed

[2016-10-19 18:56] pmli opened #304 "Multilinear operators"
Multilinear operators (tensors) appear in quadratic systems. If a linear system is
[code]
a quadratic system would be
[code]
where `H^(1)` is the mode-1 matricization of a tensor `H` and `kron` is the Kronecker product. (`H` is the Hessian of `A x + H^(1) (x kron x)`, if symmetric, although it can be symmetrized in general.)

`H^(1)` is a matrix, but it's not a linear operator with respect to `x`

[2016-10-20 06:13] pmli commented on #303
I would add an optional `adjoint_mapping` to `NumpyGenericOperator`, for the general case. For my application, after constructing identity plus rank-1 (`LincombOperator` of `IdentityOperator` and `Concatenation` of `VectorFunctional` and `VectorOperator` looks good to me), I would also need `ComponentProjection` and its adjoint to project it down. Maybe I can add `apply_adjoint` to `ComponentProje

[2016-10-20 06:46] sdrave commented on #303
Unfortunately, if I am not mistaken, its impossible to implement `apply_adoint` for `ComponentProjection`. Doing this would be equivalent to set certain DOFs of a given `VectorArray`, which is impossible with the current interface. However, I could imagine adding a `set_components` method to `VectorArrayInterface` if it's really needed ...

[2016-10-20 07:46] renemilk commented on #284
Does pyvtk still only write legacy format files? In that case I'd rather see the issue fixed. Btw, I've reached out to the pyevtk PyPi maintainer, who in turn contacted the original author. So we're getting an updated package there soonish.

[2016-10-20 07:58] sdrave commented on #284
Probably it doesn't support `.vtu`. When did you contact the author? I cannot find an issue on https://bitbucket.org/pauloh/pyevtk.

[2016-10-20 07:59] pmli commented on #303
Isn't the adjoint of `ComponentProjection`, which is a linear operator, the one that adds zeros (and multiplies with `source_product` and `range_product`)?

[2016-10-20 08:05] renemilk commented on #284
It wasn't I who contacted the author, I contacted the pypi maintainer.
https://bitbucket.org/somada141/pyevtk/issues/1/new-pypi-release#comment-31210186
https://bitbucket.org/pauloh/pyevtk/issues/30/error-using-imagetovtk#comment-None

[2016-10-20 08:05] sdrave opened #307 "extend test_assemble"
The `test_assemble` test in `pymortests_operators` should check if the assembled operator behaves the same as the original operator (`apply`, `apply_adjoint`, `apply_inverse`, ...).

[2016-10-20 08:11] sdrave commented on #188
`ZeroOperator.apply_adjoint` is now implemented in dfa475f.

[2016-10-20 08:25] sdrave commented on #284
@renemilk, I have installed the latest version from https://bitbucket.org/pauloh/pyevtk/src, but the above code is still not working. No idea if this is a bug in pyevtk or pyMOR ..

[2016-10-20 08:28] sdrave commented on #303
Not sure what you mean by 'add zeros' What is the behavior for `ComponentProjection([1,2], NumpyVectorSpace(4).apply_adjoint` when no products are specified?

[2016-10-20 08:40] pmli commented on #303
If
[code]
I would imagine the following are true statements:
[code]

[2016-10-21 12:39] #257 closed

[2016-10-21 12:50] sdrave commented on #303
Ok, so we're on the same page, and now I see what you mean by adding zeros. However, this is exactly what is not supported by the `VectorArrayInterface`.  What you want would be some code of the form:

[code]

Would it be an option in your case to replace the `ComponentProjection` multiplication with a (sparse?) matrix? I am somewhat hesitant to extend the interface just to enable `apply_adjoint`

[2016-10-21 13:11] #264 closed

[2016-10-21 15:31] pmli commented on #275
In systems theory, functionals and vector operators would correspond to SISO (single-input and single-output) systems, which can be a (very significant) limitation. For MIMO (multiple-input or multiple-output) systems, it would make sense to consider input-to-state and state-to-output operators. (Some distinguish SIMO and MISO systems, which is not necessary AFAIK, at least for model reduction.)

[2016-10-24 18:59] sdrave commented on #304
Generally speaking, we should definitely support multilinear operators in some form. Two possible options I see without having thought too much about it:

1. Add a new Interface class `MultilinearOperator`. `apply` would take a tuple of `VectorArrays` instead of a single `VectorArray`.
2. Multilinear operators are linear operators on the tensor product of their argument spaces. So the `source` of

[2016-10-24 19:12] sdrave commented on #275
I agree that it is probably in many cases not enough to classify an `Operator` as 'operator', 'vector' or 'functional', and while writing #310 I was actually wondering where the real benefit is. In view of #311, which helps a lot in keeping track of all the different operator types when writing a new `Discretization`, I would vote for postponing this until further need arises for such a solution.

[2016-10-26 08:38] #303 closed

[2016-10-26 08:41] sdrave commented on #253
@ftalbrecht, @pmli, @renemilk, anyone has any idea regarding the naming of the old and the new module? I guess 'numpy(_)algorithms' or might be an option? Or maybe 'algorithms.numpy.foo'? All of this is rather quite longish.

[2016-10-26 08:42] sdrave commented on #234
@pmli, can we close this or is there more work to do?

[2016-10-26 08:44] sdrave commented on #153
I guess we should defer this until we have decided on how to implement #129.

[2016-10-26 08:48] pmli commented on #234
We can close. (I plan to add more tests for `to_matrix` and maybe some improvements later.)

[2016-10-26 09:05] sdrave commented on #280
Done in  9b69361.

[2016-10-26 09:05] #280 closed

[2016-10-26 09:18] #234 closed

[2016-10-31 13:49] sdrave commented on #291
Hi @pmli, I found some time to take a look at the sys-mor branch. I guess there a several things to discuss before merging into master. For a start, I looked into the `solve_lyap` and `solve_ricc` methods. If I understood the code correctly, with the exemption of the H_infty norm calculation, these are the only places which crucially depend on access to the matrix data?

I had a chat with @ftalbre

[2016-10-31 13:59] sdrave opened #317 "Have a central place for discovery of optional external libraries"
I would propose adding a `pymor.core.external` module providing a `have_xyz()` method replacing the current `HAVE_XYZ` globals littered across pyMOR. An additional `print_available()` method would print a discovery report for all supported external libraries.

The reason for having methods instead of constants is that an import of the respective library will only be triggered when code depending o

[2016-11-01 13:28] pmli commented on #291
Hi @sdrave, in `solve_lyap` and `solve_ricc`, some solvers need access to matrix data (`scipy`, `slycot`, `pymess.lyap`, and `pymess.care`), while some only need vector data access (`pymess.lradi` and `pymess.lrnm`). So far, H_infty norm calculation needs matrix data access, hopefully one day it won't.

I don't understand how you would add `solve_lyap` and `solve_ricc` to the `OperatorInterface`.

[2016-11-01 15:03] pmli commented on #304
Option 1 seems better to me. Personally, I like to think about multilinear operators as multi-dimensional arrays. Also, we would not need to think about `apply_adjoint`, one `apply` method would be enough.

An implementation using NumPy should be straightforward. For a sparse representation, the situation is a bit difficult, since it seems that SciPy doesn't have sparse multi-dimensional arrays. O

[2016-11-02 12:07] sdrave commented on #304
I do not think that `apply_adjoint` is an argument since many methods of `OperatorInterface` are not required to be actually implemented (e.g. there is no `apply_adjoint` for nonlinear operators). Maybe it would help the discussion if we would try to list the main operations which need to be performed for multilinear operators (and for what).

Quadratic nonlinear operators appear, for instance, in

[2016-11-02 12:10] sdrave commented on #291
Yes, `E` and `B` would be arguments to the method. I agree that it might be not the most natural approach to have this as a method on `A`, but from it technical nature `solve_lyap` is very similar to `apply_inverse`.

[2016-11-02 14:26] pmli commented on #304
1. For simulation, we would need H<sup>(1)</sup> (x &otimes; x). This could be done as `H.apply((None, x, x))` (multiplication in mode-2 and mode-3). The result should be a vector array (or easily transformed to a vector array). ODE solvers that use Hessians would be good to have, I guess.
2. When projecting, the "reduced H" is W<sup>T</sup> H<sup>(1)</sup> (V &otimes; V). This could be done as `H

[2016-11-03 10:06] pmli commented on #291
I find `A.solve_lyap` very unnatural. Matrix equations and their solutions (aka Gramians) are most closely related to systems (i.e. `discretizations`), just as much are system trajectories and transfer function evaluations. To emphasize this in another way, different systems have different Lyapunov equations (and Gramians): LTI systems have "standard" Lyapunov equations, bilinear systems have bili

[2016-11-03 12:24] sdrave commented on #291
Ok, so attaching the methods to the `Discretization` might be an option as well.

However, could you elaborate how the various Lyapunov equations differ?

[2016-11-03 12:30] sdrave commented on #304
I see. In case `H` comes from a PDE solver, it should usually be possible to evaluate H.apply((None, V, W)) or `H.apply((U, V, W))`. However, `H.apply((V, W, None))` or `H.apply((V, None, W))` would require additional (non-standard) implementation work.

How would `H` be typically be given for your applications? As the some matrization of the tensor I would suspect?

[2016-11-03 13:45] pmli commented on #291
Basically, as you add more operators to a system, the Lyapunov equation gets longer. For a linear time invariant (LTI) system E x' = A x + B u, y = C x, the controllability Lyapunov equation is A P E<sup>T</sup> + E P A<sup>T</sup> + B B<sup>T</sup> = 0. For a bilinear system E x' = A x + &Sigma;<sub>i</sub> N<sub>i</sub> x u<sub>i</sub> + B u, the controllability Lyapunov equation is A P E<sup>T<

[2016-11-03 15:41] pmli commented on #304
I don't have applications yet, but I guess `H` could be given elementwise or in a mode-1 matricization.

[2016-11-04 10:07] sdrave opened #320 "fenics no longer tested on travis for Python 3.4"

[2016-11-04 10:11] sdrave opened #321 "Should we have a 'bindings' package?"
pyMOR currently contains bindings for fenics and pyamg. Soon we will also have bindings in master for ngsolve, pymess and slycot. I think it would make sense to have a central place in pyMOR where all glue code for external PDE/equation solver libraries can be found.

Any opinions on this? This is also related to #317.

[2016-11-04 12:16] sdrave commented on #291
Ok, so if LTI systems are the only place where `solve_lyap` is used in the foreseeable future, I would say we attach the function to the discretization. Regarding the wrapper code for pymess and slycot, see #321.

On a different note, I tried to run the heat.py demo which is failing with an `ImportError: cannot import name 'ab13dd'` after having installed slycot via pip. Any idea what's wrong?

[2016-11-04 12:51] pmli commented on #291
I'm not so sure about moving `solve_lyap` to `LTISystem` class. Why not have `compute_gramian` for discretizations like `apply_inverse` for `NumpyMatrixOperator`, where `_apply_inverse` is outside the class?

Yes, you need to install slycot from the [current master branch in painyeph/Slycot](https://github.com/painyeph/Slycot/tree/e7dc43676d543e12c50533755bce078eed737aa1).

[2016-11-04 13:26] sdrave commented on #291
The demo is working now!

Why are you against adding a `_solve_lyap` method to LTISystem`? The advantage of having such a method would be that the user can exchange the Lyapunov solver by subclassing.

[2016-11-04 16:25] pmli commented on #291
Great!

I wasn't very precise with terminology above. It's not good to say that different systems have "different Lyapunov equations". Lyapunov equation is one thing, bilinear Lyapunov equation is another, quadratic-bilinear Lyapunov equation is yet another thing, etc. On the other hand, a bilinear Lyapunov equation can be solved by solving a sequence of Lyapunov equations (by fixed point iteratio

[2016-11-07 13:26] sdrave commented on #291
Ok, so maybe I should try to make my point of view more clear:

Currently, pyMOR's main selling point is its ability to interface with external (PDE) solver libraries which provide the high-dimensional models to reduce. This is what I usually mean by 'integrating a new solver'. The integration is achieved by defining clear interfaces which need to be fulfilled by the external code in order to work

[2016-11-08 11:05] renemilk commented on #321
I'm for it.

[2016-11-08 16:05] pmli commented on #291
Thanks for the detailed answer! You make a lot of good points. `LyapunovEquation` class definitely should be more easily modifiable.

I support your proposal about `bindings` and a small `_solve_lyap` method in `LTISystem` class (or maybe already in `InputOutputSystem`). I guess `LTISystem._solve_lyap` could be small enough without an additional `pymor.???.solve_lyap`.

pymess will not support MPI

[2016-11-17 22:04] ebw44 commented on #294
Hi have some issue when trying to `import pymor`. I think it's caused by the use of `import pymor.version as _version` in __init__.py which in return use __init__.py before version.py and cause an 'AttributeError'.
I did a simple change in the __init__.py to solve the problem, but it has the revstring hardcoded.
`        try:
            import pymor.version as _version
        except AttributeErr

[2016-11-21 14:11] sdrave opened #324 "readthedocs build failing again."
See https://readthedocs.org/projects/pymor/builds/4698219/

[2016-11-21 15:15] renemilk commented on #324
Shouldn't latest build with python 3? The log says it's using 2.7. Did you wipe the build env already?

[2016-11-21 20:16] sdrave commented on #324
Ok, was the build env problem again. Cannot remember pushing into 0.4.x recently. Strange ...

[2016-11-21 20:16] #324 closed

[2016-11-22 12:14] sdrave commented on #275
This proposal is superseded by #323.

[2016-11-22 12:14] #275 closed

[2016-11-22 12:18] sdrave commented on #297
I just check that the classifiers in setup.py of 0.4.x specifically say Python 2.7. So strictly speaking this is at best an issue of pip. Shall we close this?

[2016-11-22 12:53] renemilk commented on #297
I don't think pip is supposed to, or claiming to, care about the trove classifiers.

[2016-11-22 14:55] renefritze opened #325 "Display python version/pypi release badge?"
I stumbled upon these two here:
[![PyPI](https://img.shields.io/pypi/pyversions/pymor.svg)](https://pypi.python.org/pypi/pymor)
[![PyPI](https://img.shields.io/pypi/v/pymor.svg)](https://pypi.python.org/pypi/pymor)
`[![PyPI](https://img.shields.io/pypi/pyversions/pymor.svg)](https://pypi.python.org/pypi/pymor)
[![PyPI](https://img.shields.io/pypi/v/pymor.svg)](https://pypi.python.org/pypi/pymor)
`

[2016-12-05 10:49] renemilk opened #327 "TestCase for BitmapFunction"
Does anybody have an easily extractable usage of it for a new testcase? I've added pillow to optional requirements so we can test it.

[2016-12-06 19:38] andreasbuhr opened #328 "Symmetric problem has non symmetric solution"
I set up a symmetric problem. pymor gives a non symmetric solution. It's just the poisson equation with homogeneous Dirichlet boundary conditions and a symmetric right hand side.

The solution has a value range [-0.468, 0.482], so the difference between min and max is 0.014.

Screenshot:
![screen](https://cloud.githubusercontent.com/assets/3892222/20940621/b8f1796c-bbf3-11e6-91b7-56040ec0f3c9.png)

[2016-12-06 19:39] andreasbuhr commented on #327
The issue just created:
https://github.com/pymor/pymor/issues/328
uses it. And a test for symmetry is included. Should work as a start.

[2016-12-06 20:31] sdrave commented on #328
Have you checked if the data function is aligned with the grid? Does the solution become symmetric when the grid is refined?

[2016-12-07 07:54] andreasbuhr commented on #328
The data is aligned with the grid.
But this should not have any influence as a symmetric rhs with a symmetric grid should always lead to a symmetric solution, shouldn't it?

The symmetry gets better when the grid is refined.

However, I found an asymmetry: At y=0.5, the intervals of the rhs are:
0 on [0, 0.02)
-127 on [0.02,  0.1)
0 on [0.1, 0.9)
127 on [0.9, 0.98)
0 on [0.98, 1]

So the intervals

[2016-12-07 09:12] renemilk commented on #327
I'll have a look, thanks.

[2016-12-07 09:39] sdrave commented on #328
Ok, I have just checked this: The RHS is assembled using a quadrature, and by default, the default quadrature of order 2 is chosen. For the triangle reference element, the quadrature points lie on the edge centers, which explains the observed behavior. Setting the order to 1 produces a symmetric solution symmetric.

Thus, I would say this is not a bug.

[2016-12-07 09:40] sdrave commented on #328
Although one should double-check whether 2 is a good default quadrature order.

[2016-12-14 10:15] sdrave opened #331 "add algorithm to automatically create affine decomposition in pyMOR"
In many workflows with external solvers, there exists already a method for assembling the operator and rhs of a linear stationary problem for given `mu`. By providing a list of `ParameterFunctionals` which mathematically define an affine decomposition of operator and rhs, it would be nice to have an algorithm in pyMOR which automatically constructs appropriate `LincombOperators` given such an asse

[2016-12-14 10:51] sdrave opened #332 "Replace OperatorInterface.apply_adjoint by OperatorInterface.apply_transpose"
For a linear operator O: V -> W between Banach spaces, the transposed operator O^T: W' -> V' is the linear operator which maps a linear functional f on W to the linear functional f o O on V. Given bases of V and W (finite dimensional), the matrix of O^T w.r.t. to the associated dual bases is simply the transpose of the matrix of O w.r.t. those bases.

In pyMOR, we implicitly always assume that all

[2016-12-14 11:42] pmli commented on #332
No objections from my side.

[2016-12-14 12:01] ftalbrecht commented on #332
Sounds good to me!

[2016-12-14 12:01] ftalbrecht commented on #331
Indeed!

[2016-12-14 14:44] sdrave commented on #332
Of course, it would also be possible, to add `apply_transpose` and default implement `apply_adjoint` via `apply_transpose` ...

[2016-12-14 14:53] pmli commented on #332
In this case, I think `apply_adjoint` should behave as conjugate transpose (so far, `NumpyMatrixOperator.apply_adjoint` didn't conjugate the matrix).

[2016-12-14 15:01] sdrave commented on #332
Good point! How to achieve that would largely depend on how we decide to treat antilinear operators in pyMOR, though.

[2016-12-14 15:09] pmli commented on #332
Adjoint (or conjugate transpose) operator is linear, not antilinear, as far as I understand.

[2016-12-14 15:35] sdrave commented on #332
Sure. But for a default implementation you would need the Riesz isomorphism, which is antilinear.

[2016-12-14 20:10] sdrave commented on #320
Fixed in #326.

[2016-12-14 20:10] #320 closed

[2016-12-15 17:21] pmli opened #333 "NumpyVectorArray.__iadd__ and complex numbers"
Calling `v += w`, where `v.data` is real and `w.data` is complex, raises `TypeError: Cannot cast ufunc add output from dtype('complex128') to dtype('float64') with casting rule 'same_kind'`. This is due to using NumPy's `+=` in `NumpyVectorArray.__iadd__`, without promoting types.

@sdrave is this expected behavior?

[2016-12-16 08:16] sdrave commented on #333
I wouldn't say this is expected, since I didn't think about this case when implementing `__iadd__`. Generally, I do not have a strong opinion on this. So I would say, this should be decided between you, @pmli, and @andreasbuhr.

[2016-12-16 08:18] sdrave opened #335 "Implement __rmul__ in VectorArrayInterface"
Right now, you can only right-multiply a VectorArray by a scalar. Is there any reason not to allow left-multiplication with a scalar?

[2016-12-16 12:11] pmli commented on #333
I encountered this when using `BlockOperator.apply`, which uses `+=`. I guess we could make `v += w` behave like `v = v + w` when necessary, but maybe another option would be to add an `is_real` or `dtype` attribute to vector arrays. When implementing different method, I generally have an idea if a vector array is real (e.g. [`reductors.lti.interpolation`](https://github.com/pymor/pymor/blob/8a362

[2016-12-16 13:03] pmli commented on #335
Same question for operators, including unary minus (`__neg__`).

[2016-12-16 17:05] sdrave opened #340 "Pull requests are marked as failing due to PIP_ONLY tests"
The lights on all pull requests are red again, since the PIP_ONLY tests on travis are failing. Maybe there is an environment variable we can use to disable the tests?

[2016-12-16 21:06] andreasbuhr commented on #333
Hi,
I can think of situations where I'd like to treat a real vector as if it was complex. And I can think of situations where this would cover a bug, like you expect a real vector but get a complex, and then you don't notice because there is no error.

If we have automatic type promotion you have to add code at places where you want to make sure your vector stays real.
If we do not have automatic

[2016-12-16 21:12] andreasbuhr commented on #332
I do rely on the apply_adjoint method with non trivial products. I use it to calculate an operator-SVD. But I could also just use AdjointOperator from "constructions".
So I agree this is a good idea.

[2016-12-19 11:03] renemilk commented on #340
There is one of course: https://github.com/pymor/pymor/blob/master/.travis.script.bash#L16
Otherwise that check could never have worked. I "fixed" that block a while back though: https://github.com/pymor/pymor/commit/9586c1df3124e2ce64a5eb202433ee7e0f460f59

[2016-12-19 13:04] andreasbuhr opened #341 "When scikit-umfpack is installed, only a single vector can be given to factorized matrix"
otherwise
![scipy_umfpack_error](https://cloud.githubusercontent.com/assets/3892222/21313770/fc27b110-c5f3-11e6-9daa-c46f4b6c4eb5.png)

[2016-12-19 15:29] #340 closed

[2016-12-20 19:53] sdrave commented on #328
@andreasbuhr, if I remember correctly, you are planning to provide some quadratures which do not evaluate the integrand at the element boundaries, solve this unexpected behavior in most cases? Maybe we should open a new issue for this?

[2016-12-20 19:57] sdrave commented on #16
@ftalbrecht has done some work on this. Looking forward to the pull request 😄

[2016-12-20 19:58] #317 closed

[2016-12-21 15:29] pmli commented on #333
I've thought about this a bit more. Besides operations like `+=` and `append` (for which I'd agree to have automatic type promotion), there are also methods for creating vector arrays, like `zeros` and `empty`. Currently, it is not possible to specify the data type when using `zeros`. This means that combining `empty(reserve=n)` and `append`s would first allocate a real vector array, and than prom

[2017-01-03 09:33] renemilk commented on #255
While it's still unclear when/if there will be a new pypi release of pyevtk (despite me inquiring again), the install mandate is now reflected in our requirements file.

[2017-01-03 09:33] #255 closed

[2017-01-03 11:01] renemilk commented on #171
Still happening on current scipy master and 0.18.1. Reported: https://github.com/scipy/scipy/issues/6917

[2017-01-03 13:00] renemilk commented on #130
Is this still an issue? I've collected runtime data (mm:ss) from [build #2000](https://travis-ci.org/pymor/pymor/builds/185780728)

|        | slow  | not slow | MPI   | PIP   |
| ------- | ----- | -------- | ----- | ----- |
| py 2.7 | 07:46 | 22:28    | 15:04 | 25:22 |
| py 3.4 | 06:33 | 23:29    | 13:30 | 21:17 |
| py 3.5 | 07:25 | 24:53    | 13:10 | 20:44 |

Given these numbers we could actuall

[2017-01-04 10:47] renemilk commented on #284
Pyvtk seems mostly python3 compatible, there's atm one open issue that we prolly won't run into. I've tried to transition to it, but it's not super-straigtforward and working directly. Pyvtk does indeed only write legacy vtk files. Which means we would get no time series ```.pvd``` to open with paraview, since those do not support having legacy files in them.
I've also looked into what's wrong wit

[2017-01-05 09:49] renemilk opened #344 "visualizers for grids are broken in master"
They all miss now mandatory spaces.

[2017-01-05 10:12] sdrave commented on #130
How long are tests allowed to run on travis? Generally, I agree that slow/not slow is pretty useless right now and should be merged. - In general, it would be nice to either speedup the whole test suite or to have at least some "quick" subset which only does minimal testing. But this could also be done "some time in the future" ...

[2017-01-05 10:18] renemilk commented on #130
A single step is allowed a max of ~48 minutes. I like the idea of a "quick" subset. How about I merge the slow/not slow now, and we'll consider that subset in a new ticket?

[2017-01-05 10:20] sdrave commented on #344
This should be fairly easy to fix. Have you already started working on it?

[2017-01-05 10:21] sdrave commented on #130
Agreed.

[2017-01-05 10:33] renemilk commented on #344
Nope.

[2017-01-05 10:36] sdrave commented on #259
Just to not forget this: we also have to decide how to implement `apply_transpose` (`apply_adjoint`?) and `AdjointOperator` in the complex case (see #332).

[2017-01-05 13:03] renemilk commented on #301
Which fixer is that that executes that transformation, if not ```range```? https://github.com/pymor/pymor/blob/master/setup.py#L120 (only the fallback, default is all fixers active)

[2017-01-05 13:20] sdrave commented on #301
The relevant line is here: https://github.com/pymor/pymor/blob/master/setup.py#L123

[2017-01-05 13:26] renemilk commented on #301
Yeah, sorry, did not see that.

[2017-01-05 14:22] sdrave commented on #333
I guess, there are basically two options:

1. `dtype` is an attribute of `NumpyVectorSpace`. We completely remove all type promotion from real to complex for output data (e.g. applying a real NumpyMatrixOperator to a complex array is forbidden, but a complex NumpyMatrixOperator may be applied to a real array, yielding a complex output array). We provide some convenience methods for casting between

[2017-01-05 15:19] renemilk commented on #297
This should fix itself with #294

[2017-01-05 15:19] #297 closed

[2017-01-05 15:53] renemilk commented on #301
First failure is in gmsh writer of all places. Relevant build:https://travis-ci.org/pymor/pymor/builds/189226604

[2017-01-06 09:29] renemilk commented on #130
Closed by d136958416263e21506ad5b7abed4d414d46b32f

[2017-01-06 09:29] #130 closed

[2017-01-06 11:26] #344 closed

[2017-01-06 11:27] #335 closed

[2017-01-08 13:14] #294 closed

[2017-01-08 15:27] #301 closed

[2017-01-10 09:49] renefritze opened #351 "Select a subset of tests for a 'quick' marker in py.test"
As touched upon in #130 , it would be a nice to have relevant subset to complete in significantly less time than the full suite.

Sidenote: https://github.com/pytest-dev/pytest/issues/920 is blocking pytest-xdist usage for us.

[2017-01-10 13:02] #273 closed

[2017-01-10 13:05] sdrave commented on #351
I guess this is quite hard to achieve. In many cases, we would want to reduce the number of fixture realizations (i.e. omit larger VectorArrays) ...

[2017-01-10 13:06] #205 closed

[2017-01-10 13:10] sdrave commented on #254
Ok, so I guess the general opinion is, that there is currently no external solver package want want to use to replace pyMOR's discretization package, and a complete rewrite is nothing that will happen in the near future ...

[2017-01-11 11:49] sdrave commented on #321
Done in #353.

[2017-01-11 11:49] #321 closed

[2017-01-12 10:30] renemilk commented on #351
With the pytest plugin I'm adding in #354 we could figure out which fixture realizations those are. Then we'd need another, activated by marker or cli arg, plugin to skip every realization not in that list. That would probably mean keeping a pickle of the runtimes dict in git and occasionally updating it.

[2017-01-16 11:58] renemilk opened #357 "Incompatible with numpy 1.12"
It wasn't immediately clear what's wrong, so I've opted to make an issue instead.
1.12 was released yesterday: https://github.com/numpy/numpy/releases

[2017-01-16 13:31] renemilk commented on #357
Branch didn;t trigger the issue because of pre-installed numpy in the docker images.
"Fixed": https://travis-ci.org/pymor/pymor/builds/192353859
https://github.com/pymor/pymor/commit/21767dd7abc91a95da2dcd79c7d28a4a1056ca5d

[2017-01-18 10:58] renemilk commented on #357
Will you pick 1434bb1130313dcb1f643ac32af1a6317ff2a06c into master and 0.4 branches, @sdrave ?

[2017-01-18 11:01] renemilk opened #358 "Test multiple numpys on travis"
We definitely need advance warning of issues like #357 and not just deprecation warnings nobody reads.
Alternatively we could (probably, magically) turn those warnings into hard failures.

[2017-01-18 12:09] sdrave commented on #357
Fixed in 36f0ac2028874ff1cb57e647fafb3633cf3784db.

[2017-01-18 12:09] #357 closed

[2017-02-01 13:28] andreasbuhr opened #360 ""pip install pymor" does not show the list of suggested packages, as it used to"
Hi,

I just installed pymor in a venv (on jacen). It did not show me the list of suggested packages. I had to manually search for this list in the source to install these packages.

I did a
pip install git+https://github.com/pymor/pymor@0.4.x

[2017-02-01 14:24] pmli commented on #333
I guess option 2 is ok. I would just add that type promotion is avoided when possible. For example, when a linear combination with complex coefficients has to be computed, but the coefficients have zero imaginary part. This is already the situation in some parts, e.g. `NumpyMatrixOperator.assemble_lincomb`.

[2017-02-01 15:19] renemilk commented on #360
Same on master py 3.5 and pip 9

[2017-02-03 12:53] sdrave commented on #291
I have fixed now the test build on travis, by disabling tests when slycot/pymess is unavailable. However, we should start running these tests on travis as well. @pmli, regarding slycot: is there an official repository and/or release we want to use? We should also add an appropriate check in `pymor.core.config` to see if we have the right slycot version.

The last failing test is related to packagi

[2017-02-03 13:07] pmli commented on #291
The official slycot repository is in the python-control organization: https://github.com/python-control/Slycot
As for the release, they recently merged the H_infinity norm function (AB13DD) into master, so it would be ideal to use that. It seems the version number is 0.3.1, but on pip there is still 0.2.0.

[2017-02-06 11:28] sdrave commented on #291
Hi @pmli, I have now added a version test for slycot to `pymor.core.config` and added the current github master of slycot to `requirements-optional.txt`. With this, the slycot tests now run on travis. There are three failing tests, which I also experience on my machine. Maybe you can take a look?

[2017-02-06 12:27] pmli commented on #291
Strange... All slycot tests pass on my machine... The `heat.ipynb` is also working fine.
I'm using Numpy 1.12.0, if that means anything.

[2017-02-06 12:43] sdrave commented on #291
I also see this on my machine with Numpy 1.12.0. Interestingly, I have test_slycot[2-2-100], test_slycot_E[1-1-100], test_slycot_E[2-2-100] failing, both with an error of around 1e-8. Setting `OMP_NUM_THREADS=1` makes the first pass.

On travis, we have test_slycot[2-2-100], test_slycot_E[2-1-100] and test_slycot_E_trans[2-1-100] failing.

I am not sure about travis. My machine is currently using

[2017-02-06 13:49] pmli commented on #291
It seems to me I have the same BLAS setup (Numpy has it's own OpenBLAS, slycot uses my distro's OpenBLAS).

[2017-02-07 09:13] sdrave commented on #291
Ok, good to see that you have some way to reproduce this. Normally I would say that a small change of accuracy due to subtleties between different BLAS implementations or parallel vs. sequential code paths is acceptable. But here were are talking about two orders of magnitude, so this sounds more like a bug, doesn't it?

I guess we should first try to see if the difference in accuracy has somethin

[2017-02-07 09:50] sdrave commented on #291
On another machine I have 5 failing tests ...

[2017-02-07 10:03] pmli commented on #291
When I set `OMP_NUM_THREADS=1`, I get quite large relative residuals, of order 1e-2. I've tried running tests on my laptop, and some different tests failed. Again, with large residuals.

It's interesting that only (some) Riccati equation tests fail and Lyapunov tests pass...

[2017-02-08 08:51] renemilk commented on #171
The scipy bug has supposedly been fixed. I haven't tried yet, but I propose we wait till the next scipy release to revert the workaround and then pin ```>=``` that release in requirements.

[2017-02-09 15:07] sdrave commented on #171
I do not think that support for theses arguments is a reason to require a newer scipy (I have never used them). What about changing the try-except to a dispatch on the scipy and Python version?

Is this already in the latest scipy release?

[2017-02-09 16:17] renemilk commented on #171
The latest release is  0.18.1 from September 2016, so no.

Btw I get lots of test failures with scipy master because someone tried to parse the scipy version with this:
[code]

Otherwise dispatching on version would be ok with me.

[2017-02-13 16:01] andreasbuhr opened #361 "Should we add Vector Sanitizers to Gram-Schmidt process"
Hi there,

The problem:
I often do run into the situation that I want to orthogonalize a bunch of vectors which are in a subspace of the full FEM space. For example, vectors having mean value zero. As a second example, in the method "ArbiLoMod", we have vectors wherein one part (the "extension") is calculated by applying a linear operator to another part.
Often, this property deteriorates during t

[2017-02-13 20:12] sdrave commented on #361
Sounds nice! While we are at it, we might think about a somewhat more generic hook system. (Although  I do not have another real application in mind, however.)

[2017-02-14 11:55] pmli opened #363 "Sparse operators to source/range arrays"
Currently, `NumpyMatrixOperator.as_(source|range)_array` do not allow converting sparse operators to vectorarrays (see [here](https://github.com/pymor/pymor/blob/ffbff4046faef7d731857b585be727cbcd3ca64a/src/pymor/algorithms/genericsolvers.py#L341)). Is this necessary? Input and output operators are actually commonly sparse (imagine boundary control/measurement on a small part of the boundary) and

[2017-02-14 16:35] pmli opened #364 "Loading dense matrix from Matrix Market format"
`pymor.tools.io._mmread` assumes the matrix is stored in coordinate format (see [here](https://github.com/pymor/pymor/blob/ffbff4046faef7d731857b585be727cbcd3ca64a/src/pymor/tools/io.py#L40-L41)). This seems strange, when other functions in `pymor.tools.io` allow `np.ndarray` type matrices.

[2017-02-14 20:26] sdrave commented on #363
(Your links seem to be pointing to the wrong location.) What matrix shapes are you thinking of? E.g. you most definitely do not want to convert a 1e6 DOF PDE system matrix to a VectorArray ...

[2017-02-14 20:27] sdrave commented on #364
I agree that there is no reason to not support dense as well ..

[2017-02-14 20:53] pmli commented on #363
(Woops. [Correct link](https://github.com/pymor/pymor/blob/ffbff4046faef7d731857b585be727cbcd3ca64a/src/pymor/tools/io.py#L40-L41)) I thinking of shapes expected in, for example, [`discretizations.iosys.LTISystem.eval_tf`](https://github.com/pymor/pymor/blob/a4e0cad36b818b9dc180776262602513791b0d79/src/pymor/discretizations/iosys.py#L402-L441), i.e. tall and skiny for `as_range_array` and short an

[2017-02-14 21:11] pmli commented on #364
Fixed in 238e6229a3ec5773f46174960f96ffefc5592cdd.

[2017-02-14 21:11] #364 closed

[2017-02-16 09:49] sdrave commented on #363
Ok, if you actually have tall and skinny sparse matrices, I see no reason to forbid calling `as_range_array` or `as_source_array`. I see that `NumpyVectorSpace.make_array` already automatically converts its input to dense, so we can simply remove the assertions.

[2017-02-16 10:07] pmli commented on #363
Ok, great. Made the changes in 4803316eaca277db820c6a53197047c6609c4e01.

[2017-02-16 12:12] #363 closed

[2017-04-24 08:52] ftalbrecht commented on #16
I guess it does not really count, but the dune-gdt bindings provide a DG discretization by now: https://github.com/dune-community/dune-gdt-pymor-interaction/blob/master/notebooks/linearelliptic_swipdg.ipynb

[2017-05-08 13:11] #274 closed

[2017-05-08 13:36] sdrave commented on #328
@andreasbuhr, since this is not really a bug in pyMOR, I will close this issue for now. However, a PR with improved quadratures is welcome ...

[2017-05-08 13:36] #328 closed

[2017-05-08 13:45] sdrave commented on #272
What about the following solution? If the summands are `LincombOperators` with a custom name then a an additional `LincombOperator` is created. Otherwise, the operators are contracted into a single `LincombOperator`.

A variant of this, would be to give the `LincombOperators` created by arithmetic operations a special name, and only merge `LincombOperators` with this name.

[2017-05-08 13:49] sdrave commented on #361
Right now, I cannot remember what I had in mind with this 'hook system'. So, if you have some code lying around, @andreasbuhr, a PR is very welcome.

[2017-05-08 19:27] #333 closed

[2017-06-07 20:38] ftalbrecht opened #372 "Search on readthedocs.io seems broken"
Using [the search feature on pymor.readthedocs.io](http://pymor.readthedocs.io/en/latest/search.html) does not give optimal results: searching for Foo gives all places where Foo is referenced or mentioned, but not the place where Foo is actually defined; search for instance for `LincombOperator`.

[2017-06-08 06:48] sdrave commented on #372
Why do you believe its broken? Seems to be a full text search and `operators.constructions` is in the results. If you want to look up a class, you should use the index ...

[2017-06-08 07:20] ftalbrecht commented on #372
True, although the link to `operators.constructions` leads to the source code defining `LincombOperator`, not the documentation of `LincombOperator`. There used to be a time when a full text search for a class would yield the class documentation as first result. But this could very well be a regression of readthedocs, an not in our hand.

[2017-06-08 08:00] sdrave commented on #372
Right, you have to click on 'pymor.operators package'. Would be nice, to exlude the source from search results, however ..

[2017-06-09 08:39] sdrave commented on #372
Ok, so I have looked a bit into this: RTD actually overrides the sphinx search feature (which is working nicely) with its own index. I could not find any way to configure this behavior. @ftalbrecht, you might want to ask the RTD guys about this issue ..

[2017-06-29 12:37] sdrave commented on #291
Hi @pmli, I have now merged the reductor_objects branch into sys-mor in the sysmor-with-reductor-objects branch. I only did the minimal work necessary to get a somewhat consistent result. Please take a look. Of course, one might also think about making `bt`, etc., a class ...

[2017-06-29 19:13] pmli commented on #291
Hi @sdrave! This is really interesting. I think it makes sense to have a generic BT reductor, and then have different variants of BT inherit from it. I'll have to think about it some more, but this should make adding new BT variants much easier. Something similar for IRKA/TSIA should also be possible.

[2017-06-30 08:00] sdrave commented on #291
Good to hear that. I will then merge reductor_objects into master soon ..

[2017-07-05 15:49] ftalbrecht opened #374 "psutil problem"
@sdrave knows more, probably missing in requirements...

[2017-07-07 13:42] sdrave commented on #302
It should be noted that for NumPy 1.13.0 and newer, a copies are automatically made s.t. the behavior is always deterministic: https://docs.scipy.org/doc/numpy/release.html#ufunc-behavior-for-overlapping-inputs

[2017-07-12 12:00] renemilk commented on #284
I've just checked this again and now I'm sure that this is a bug in pymor itself:
[code]
outputs files readable with paraview (5.1), while ```torus=True``` still results in segfaulting paraview. The .pvd is still unusable though.

So best guess would prolly be ```flatten_grid```? What do you think @sdrave ?

[2017-07-14 08:37] renemilk commented on #374
It's only in requirements-optional.txt, so if you used that to get Qt and stuff, you were fine. If you don't you could get an ImportError since the psutil import is not guarded with having Qt. That I will fix.

[2017-07-17 14:42] #374 closed

[2017-08-02 07:18] renemilk commented on #351
With regards to pytest-xdist, I've just come across https://github.com/firedrakeproject/firedrake/commit/0aa80bcdabf478e85fece4ae03a7e708c8d7a7d8
I see no reason not to fix this seed in our travis test script.

[2017-08-02 07:43] renemilk commented on #351
Actually, pytest-dev/pytest#920 was fixed recently, so we can just require pytest 3.2 and don't need the workaround.

[2017-08-09 12:44] renemilk commented on #358
Closed by  https://github.com/pymor/pymor/pull/377

[2017-08-09 12:44] #358 closed

[2017-08-09 14:14] sdrave commented on #372
I do not think it is possible to fix this on our side. Closing.

[2017-08-09 14:14] #372 closed

[2017-08-09 14:17] sdrave commented on #360
My suggestion would be to remove this feature. Instead, printing `pymor.config` could give advice about installing additional packages. Also, there is #376.

[2017-08-09 14:20] sdrave commented on #351
I am still not sure if we should not rewrite the whole test suite at some point. In particular, the realization of parametrized fixtures for VectorArrays and Operators is a mess. Thus, I would not put too much effort into this ATM.

[2017-08-09 14:24] sdrave commented on #341
Hi @andreasbuhr, do you have a MWE where to reproduce the issue? In the traceback, I cannot see any pyMOR code at all ..

[2017-08-09 14:27] sdrave commented on #327
Maybe we could use the code from [here](https://www.uni-muenster.de/AMM/num/Vorlesungen/MultiScale_SS17/uebungen/blatt03.html) and turn it into a demo (see the "Zusatzaufgabe")?

[2017-08-09 14:31] sdrave commented on #109
Given the large changes that already went into 0.5, I would say we postpone this to 0.6 ..

[2017-08-09 14:33] sdrave commented on #253
Given the state of the sys-mor branch, there does not seem to be a need for this ATM. Closing.

[2017-08-09 14:33] #253 closed

[2017-08-09 14:35] sdrave commented on #253
To make my last comment clearer: In the sys-mor branch, the code which requires direct access to the data has been moved to modules in the bindings package.

[2017-08-09 14:38] sdrave commented on #254
We should start thinking about `discretize_stationary_XXX` methods, where XXX is our favorite PDE solver. However, this would probably require a more abstract definition of the data functions ..

[2017-08-09 14:39] sdrave commented on #260
Have wheels only for Python3 seems fine. The Python3.5 wheel has worked nicely for me.

[2017-08-09 14:40] sdrave commented on #262
Implemented in #367.

[2017-08-09 14:40] #262 closed

[2017-08-09 14:51] sdrave commented on #272
Any thoughts on this, @pmli, @ftalbrecht? Right now I would gravitate to the first option and additionally implement a 'flatten' algorithm which flattens all operator hierarchies in a given discretization.

[2017-08-09 15:27] renemilk commented on #260
As for having wheels for master there's the question of where to deploy them. Github releases only works in conjunction with tags. We could deploy to our own wheelhouse https://pymor.github.io/wheels/ or pypi, both raise the issue of versioning in a way pip understands as properly ordered, I think.

[2017-08-09 16:10] sdrave commented on #284
@renemilk, I could fix the segfault in ef5eed9. However, a remaining issue is that the generated `.pvd` files do not work:

vtkPVDReader (0x557236426220): Could not determine the data type for the first dataset. Please make sure this file format is supported.

Could you take another look?

[2017-08-09 16:15] sdrave commented on #260
I guess it would be nice to push to pypi as a develoment version. Do you remember what the accepted version format was?

[2017-08-10 03:11] pmli commented on #272
For now, I would only expect that, if an operator is created from linear combinations of sparse matrices, then `apply_inverse` will call the sparse solver (and not a generic linear solver). I can't think of a generic situation right now where it would be beneficial to preserve the hierarchy for when calling `apply`.

[2017-08-10 09:03] sdrave commented on #272
@pmli, even for nested hierarchies of matrix operators, `apply_inverse` should first assemble the matrix and then use an appropriate solver. If not, this is a bug.

My main argument, for keeping named `LincombOperators` is that the user can still see the mathematical structure of the operator instead of a long list of operators of unclear origin. However, I have no concrete example where this woul

[2017-08-10 09:16] renemilk commented on #260
Had to look it up: https://www.python.org/dev/peps/pep-0440/#public-version-identifiers
So we'd probably need to change the versioneer setup to generate something using the '.devN'. However N needs to be an integer there.

[2017-08-10 09:16] ftalbrecht commented on #272
Without too much thought I would agree to leave named ops as they are (think of an product formed by multiple semi-products), since one might want to have/see/exploit the underlying structure somewhere. If it is not too much effort, flattening unnamed lincomb ops would be great...

[2017-08-10 09:36] renemilk commented on #351
Well, I am at least very sure that _I_ should not be rewriting our test suite :wink:
As for putting effort into subset selection, I'm thinking a generic pytest plugin where you can select the X percentile of previously fastest realizations. Not a priority though, yes.

[2017-08-10 10:50] pmli commented on #272
Then its ok. (I actually never used named operators.)

[2017-08-22 03:44] pmli commented on #259
Would it make sense to define unitary spaces (vector space + product)? Then, I guess, methods such as `apply_adjoint` could automatically detect, just from the operator, what needs to be done.

[2017-08-23 03:17] pmli commented on #272
@sdrave There is still a bug like in #276, but with `apply_inverse` instead of `apply`. Here are some minimal non-working examples:
[code]

[2017-09-12 14:12] sdrave opened #380 "ngsolve not available on travis"
For some reason, ngsolve does not seem to be present on travis. I pulled `pymor/testing:3.4`, where, indeed, no ngsolve seemed to be installed ...

[2017-09-14 09:23] renemilk commented on #380
Please check if it's the same for 2.7 and 3.5

[2017-09-14 10:30] sdrave commented on #380
Same for 3.5. Haven't tested 2.7, but ngsolve is Python 3 only ..

[2017-09-26 10:04] #380 closed

[2017-09-29 10:14] sdrave opened #381 "Pickling not customizable in mpi4py > 2.0"
pyMOR currently fails to run with mpi4py installed from git due to the following reasons:

1. mpi4py reports as version '2.0.1a' which causes an error in our version parsing in `pymor.tools.mpi`.

2. mpi4py.MPI.pickle is now a class. We can actually replace it with a new instance with our pickling functions. The Cython side of mpi4py uses the cdef attribute PyMPI_PICKLE which we cannot monkey patc

[2017-09-29 12:09] sdrave commented on #381
With #382, pyMOR should be working with mpi4py > 2.0. However, we are falling back to the pre-2.0 behavior, which is less efficient. We should ask the mpi4py developers if they are wiling to make the pickling functions customizable again.

[2017-10-10 19:23] JasonETurner opened #383 "Install issue"
Issue installing pyMOR. pip can throws an error code during the installation process. I am hoping to use pyMOR on macintosh with python 3.6.3 downloaded using homebrew (with numpy, scipy and others downloaded using pip3). Pasted below is the output from the terminal window:

| => pip3 install pymor[full]
Collecting pymor[full]
  Using cached pymor-0.4.2.tar.gz
    Complete output from command pyth

[2017-10-10 20:32] renemilk commented on #383
Hi! pyMOR 0.4.2 is only compatible with python 2.7. We've merged python 3 support only after that release. If you install from github master, that should work with python 3

```pip3 install git+https://github.com/pymor/pymor```

[2017-10-10 21:13] JasonETurner commented on #383
Thank you! I had to sudo- as well.

[2017-10-10 21:14] #383 closed

[2017-10-11 20:49] pmli opened #386 "Annoying SparseEfficiencyWarning from scipy.sparse.linalg.splu"
MWE (using current master):
[code]

Compare to no warning when using pure SciPy:
[code]

[2017-10-12 11:19] renemilk commented on #360
Potentially relevant: https://github.com/pypa/pip/issues/2933

[2017-10-12 11:30] pmli opened #387 "Add Krylov methods for matrix equations"
Currently in the sys-mor branch, there are bindings for ADI methods from pymess. It would be good to also have interfaces for Krylov methods. Some Matlab codes and references are available here: http://www.dm.unibo.it/~simoncin/software.html

[2017-10-12 12:45] pmli opened #388 "MOR methods for LTISystems"
For reference, an LTISystem can be _Ex'(t) = Ax(t) + Bu(t)_, _y(t) = Cx(t) + Du(t)_ (continuous-time) or _Ex<sub>n + 1</sub> = Ax<sub>n</sub> + Bu<sub>n</sub>_, _y<sub>n</sub> = Cx<sub>n</sub> + Du<sub>n</sub>_ (discrete-time). In both cases, _E_ is assumed to be nonsingular.
- balanced-based methods:
  - [ ] Classical Balanced Truncation (BT), [1]:
    - [x] continuous-time version (square root a

[2017-10-12 13:13] pmli opened #389 "Analysis methods for LTISystems"
For reference, an LTISystem can be _Ex'(t) = Ax(t) + Bu(t)_, _y(t) = Cx(t) + Du(t)_ (continuous-time) or _Ex<sub>n + 1</sub> = Ax<sub>n</sub> + Bu<sub>n</sub>_, _y<sub>n</sub> = Cx<sub>n</sub> + Du<sub>n</sub>_ (discrete-time). In both cases, _E_ is assumed to be nonsingular.
- system poles
  - [x] using `scipy.linalg.eig`
  - [ ] using `scipy.linalg.eigh` for symmetric systems
  - [ ] using `scip

[2017-10-12 19:14] pmli opened #390 "Data-driven MOR methods"
- frequency-domain methods:
  - [x] bitangential Hermite interpolation based on Loewner matrices, [1]
  - [x] Transfer Function IRKA (TF-IRKA), [1]
  - [ ] generic realization by Loewner matrices, [2]
  - [ ] data-driven structured realization, [3]
- time-domain methods:
  - [ ] Dynamic Mode Decomposition and its variants, [4]

[1] http://www.math.vt.edu/people/gugercin/Publications/GugercinC26.pd

[2017-10-13 12:14] pmli opened #391 "Methods for TransferFunctions"
One example: heat equation on semi-infinite rod from Section II.C in http://www.math.vt.edu/people/gugercin/Publications/GugercinC26.pdf (the transfer function is _e<sup>-sqrt(s)</sup>_)
- `__add__`, `__neg__`, `__sub__`:
  - [ ] for two `TransferFunction`s
  - [ ] for a `TransferFunction` and any other `InputOutputSystem` object (e.g. `LTISystem`)
- norms:
  - [ ] _H_<sub>2</sub>-norm
    - [ ] u

[2017-10-13 19:19] pmli opened #392 "__str__ and __repr__ for discretizations"
This would be helpful for `InputOutputSystem`s.
@sdrave Would it be useful in general for discretizations?

[2017-10-13 21:03] pmli opened #393 "MOR methods for parametric LTISystems"
The first step would be implementing a class for these systems. This class would represent systems studied in [1], although we could also include the _D(p)u(t)_ part in the output equation.
Afterwards, we can implement some methods benchmarked in [1].

[1] http://www2.mpi-magdeburg.mpg.de/preprints/2015/MPIMD15-01.pdf

[2017-10-13 22:33] pmli opened #394 "MOR methods for SecondOrderSystems"
For reference, a `SecondOrderSystem` can be _Mx''(t) + Dx'(t) + Kx(t) = Bu(t)_, _y(t) = C<sub>p</sub>x(t) + C<sub>v</sub>x'(t) + Du(t)_ (continuous-time) or _Mx<sub>n+2</sub> + Dx<sub>n+1</sub> + Kx<sub>n</sub> = Bu<sub>n</sub>_, _y<sub>n</sub> = C<sub>p</sub>x<sub>n</sub> + C<sub>v</sub>x<sub>n+1</sub> + Du<sub>n</sub>_ (discrete-time). In both cases, _M_ is assumed to be nonsingular.
- balanced-

[2017-10-13 22:50] pmli opened #395 "MOR methods for DAE systems"
Linear DAE (differential-algebraic, a.k.a. descriptor) systems take the same form as `LTISystems` (see #388), except the _E_ matrix is singular.

Here are some references:
[1] http://dx.doi.org/10.1002/pamm.200310302
[2] https://theses.lib.vt.edu/theses/available/etd-05112012-103400/unrestricted/Wyatt_SA_D_2012.pdf
[3] https://www2.mpi-magdeburg.mpg.de/preprints/2015/MPIMD15-19.pdf

[2017-10-13 23:02] pmli opened #396 "MOR methods for BilinearSystems"
- balancing-based methods:
  - [ ] Balanced Truncation by standard or truncated Gramians, [1]
- interpolation-based methods:
  - [ ] Bilinear IRKA (BIRKA), [2]

[1] https://www2.mpi-magdeburg.mpg.de/mpcsc/benner/pub/BGR_MoRePaSIII.pdf
[2] https://www2.mpi-magdeburg.mpg.de/preprints/2011/MPIMD11-02.pdf

[2017-10-13 23:13] pmli opened #397 "MOR methods for LinearStochasticSystems"
`LinearStochasticSystems` are very similar in form to `BilinearSystems`, so methods in #396 could be used here, except transfer functions are not defined for stochastic systems, which doesn't allow interpolation-based methods.

Here are references for balancing-type methods:
[1] https://www.wias-berlin.de/people/redmann/MoRePas_Preprint.pdf
[2] https://www.wias-berlin.de/people/redmann/btstoch.pdf

[2017-10-16 16:08] sdrave opened #398 "Random segfaults on travis"
See for instance [here](https://travis-ci.org/pymor/pymor/jobs/286709787). Might be an issue with pytest-xdist?

[2017-10-16 17:31] pmli opened #399 "InputOutputSystem __add__ and __sub__"
Currently, `__add__` and `__sub__` are only possible for systems of the same type (see [here](https://github.com/pymor/pymor/blob/23e31383284177d2b3146081881afd9634d1e601/src/pymor/discretizations/iosys.py#L35-L69)). Additionally, [`TransferFunction`](https://github.com/pymor/pymor/blob/23e31383284177d2b3146081881afd9634d1e601/src/pymor/discretizations/iosys.py#L673) inherits from `InputOutputSyst

[2017-10-17 18:49] renemilk opened #400 "Can we drop testing on python 3.4, start testing with 3.7-rc?"
Debian stretch has 3.5, Current Ubuntu LTS (16.04) has 3.5 and current RHEL has no python 3 at all. With Anaconda on win we have 3.5 and 3.6.
Therefore I think there's little use in still testing on 3.4 although it's EOL is still 18 months away.
Coincidentally this would also make my task of updating our docker infrastructure from ubuntu 16.04 to debian stretch a whole lot easier, since cpython 3.

[2017-10-17 19:02] pmli commented on #400
If I remember correctly, I only used 3.4 so far because pyside wasn't available for 3.5. Has this changed, or do you use something else now (I guess pyqt5, looking at `requirements-optional.txt`)?

[2017-10-17 19:28] renemilk commented on #400
Correct. @sdrave added an abstraction for pyqt/pyside called qtpy a while back.

[2017-10-17 19:48] pmli commented on #400
Ok, then I should be fine.
Maybe one off-topic question: without 3.4, do we want to use the `@` operator for matrix multiplication or do we stick with `dot` (or does it not matter)?

[2017-10-18 10:35] ftalbrecht commented on #400
I do not have a strong opinion there, but a slight bias towards sticking with `dot`...

[2017-10-18 13:06] renemilk commented on #400
Awesome. Since @sdrave was also ok with dropping 3.4 I will do that.

As for the operator question: I see no advantage of using it. We'd also lose (soo to be untested) 3.4 compat.

[2017-10-18 13:10] sdrave commented on #400
Regarding `@`, I would be surprised if 3to2 can handle it. So we would probably loose Python 2 support as well.

[2017-10-18 13:19] renemilk commented on #400
I just checked, 3to2 has no fixer for it, indeed. So that's definitely a no-go until we drop python 2 altogether.

[2017-10-18 13:19] #400 closed

[2017-10-18 13:20] sdrave commented on #392
Yes, this would also be nice for `StationaryDiscretization` and `InstationaryDiscretization` ...

[2017-10-18 13:35] sdrave commented on #386
The reason for the different behavior is that `pymor.bindings.scipy.apply_inverse` calls `splu` instead of `spsolve` when the `spsolve_keep_factorization` default is set to `True`. Which it is by default.

[2017-10-18 14:39] pmli commented on #392
Ok. Then I will think about a good implementation for `InputOutputSystems` and its derived classes, and open a pull request.

[2017-10-18 15:12] pmli commented on #386
Is there a way to fix this? I often need to solve `A x = b` and `A^T x = b` for the same sparse `A`. Is there a way to turn this warning off? Probably a better way to fix this is to use `tocsc` before every `splu` call. Maybe also `'csr'` format can be allowed, since [`splu`](https://docs.scipy.org/doc/scipy-0.19.1/reference/generated/scipy.sparse.linalg.splu.html#scipy.sparse.linalg.splu)'s retur

[2017-10-18 15:38] sdrave commented on #327
See #401.

[2017-10-18 15:41] sdrave commented on #398
I have disabled xdist in da9167565aaf45e9cb8c7cc6b5e5435127f21974, but we still have segfaults:

https://travis-ci.org/pymor/pymor/jobs/289523433

My first guess would be that this is related to the recently added ngsolve support. @renemilk, any ideas how to debug this?

[2017-10-18 15:51] sdrave commented on #386
I guess we should look first, what is happening inside SciPy when `spsolve`/`splu` are called.

[2017-10-19 07:20] renemilk commented on #398
If you suspect ngsolve (only 3.5 builders are affected?) I suggest you wait until after I've upgraded the docker infrastructure since then we will have full control over debug options and such.

[2017-10-24 14:51] castagnotto commented on #393
Petre, nice idea! Check out maybe also the psss class within psssMOR [2], which is not on GitHub (yet).

[2] https://www.rt.mw.tum.de/forschung/morlab/software/psssmor/

[2017-10-24 14:53] castagnotto commented on #388
Nice list :+1: I may be able to contribute to what you referenced to [4] and [6] in the future, I'll fork the repo once I'll start working on it :wink:

[2017-10-25 15:56] pmli commented on #393
Hi Ale! :smile: Thanks for pointing out psssMOR, I wasn't aware of it.

It should be straightforward to add a class for parametric LTI systems in pyMOR, but it would be ideal if both reduced basis and systems theory methods could be applied to this class.

@sdrave Do you think `ParabolicRBReductor` can be made to work with a parametrized `LTISystem` class or would it be better to rethink the inher

[2017-10-25 16:50] pmli commented on #388
That would be awesome :+1: :smile: I might contribute TSIA to sssMOR, if you would like to compare it to your IRKA implementation.

Note that all the systems theory stuff is still in the `sys-mor` branch, so some parts are still under development. Also, nothing is really set in stone, so if you think, for example, that some class/function name should be changed, I would be happy to hear it.
The Ju

[2017-10-26 08:39] sdrave commented on #393
@pmli, why would you need a separate class for parametrized LTI systems? Regarding `ParabolicRBReductor` it should be possible to let `LITSystem` inherit from `InstationaryDiscretization`. I see no immediate reason, why mass matrices are not allowed to be parametric there. However, let's discuss this in a separate issue ..

[2017-11-06 09:37] sdrave commented on #398
Haven't seen any segfaults since @renemilk's build infrastructure changes. Hoping for the best and closing for now.

[2017-11-06 09:37] #398 closed

[2017-11-06 09:40] sdrave opened #402 "Unkown Version in RTD builds"
The version number of the latest master build on RTD is shown as `v0.unkown`.

[2017-11-06 13:06] sdrave commented on #327
With #401 merged, we now have a demo test which utilizes `BitmapFunction`. That would be sufficient for me to close this issue, @renemilk?

[2017-11-06 21:32] #327 closed

[2017-11-07 10:24] renemilk commented on #402
Fixed in #404 : https://pymor.readthedocs.io/en/wheel_building/#

[2017-11-07 10:24] #402 closed

[2017-11-08 09:33] sdrave commented on #381
I have filed an issue upstream: https://bitbucket.org/mpi4py/mpi4py/issues/82/

[2017-11-08 12:03] sdrave commented on #381
Regression is fixed in eaef117.

[2017-11-08 12:03] #381 closed

[2017-11-10 11:25] pmli commented on #393
@sdrave I see your point, it's not like `LTISystem.__init__` is checking that the operators are non-parametric. After thinking about it, it seems to me that the `LTISystem` class could work fine for parametric systems. We would need to add `mu` arguments to its member functions and the corresponding reductors. Also, it would make sense to add combined norms for the Laplace `s` parameter and other

[2017-11-10 17:41] pmli commented on #386
It seems `spsolve` and `splu` are independent: `spsolve` calls [`_superlu.gssv`](https://github.com/scipy/scipy/blob/7511430b3641d716998e095cf7e43cc9dbbedbc5/scipy/sparse/linalg/dsolve/linsolve.py#L189-L190) (which can use CSC or CSR), `splu` calls [`_superlu.gstrf`](https://github.com/scipy/scipy/blob/7511430b3641d716998e095cf7e43cc9dbbedbc5/scipy/sparse/linalg/dsolve/linsolve.py#L308-L309) (whic

[2017-11-15 16:28] pmli opened #409 "Discretizations inheritance tree changes discussion"
The current inheritance tree in sys-mor branch looks like this:
- `interface.DiscretizationInterface`
  - `basic.DiscretizationBase`
    - `basic.StationaryDiscretization`
    - `basic.InstationaryDiscretization`
    - `iosys.InputOutputSystem`
      - `iosys.LTISystem`
      - `iosys.TransferFunction`
      - `iosys.SecondOrderSystem`
      - `iosys.LinearDelaySystem`
      - `iosys.LinearStochas

[2017-11-20 16:11] pmli commented on #386
So, the easy thing would be to add `matrix = matrix.tocsc()` before every `splu` call. This is basically [what `splu` would do anyway](https://github.com/scipy/scipy/blob/73f723a6ec2e7fc93314b1407336e71bb9ab6de0/scipy/sparse/linalg/dsolve/linsolve.py#L294). A more clever thing would be to also allow CSR format, pass the transpose to `splu`, and somehow detect this when using the `solve` method of

[2017-11-21 13:13] sdrave commented on #360
@renemilk, should we remove the relevant code and close this?

[2017-11-21 13:16] sdrave commented on #386
I guess the format conversion should be cheap in comparison to the actual decomposition. Also, the decomposition will probably require significantly more memory than a copy of the original matrix, so it should be safe to simply perform the conversion?

[2017-11-21 13:18] renemilk commented on #360
Yes

[2017-11-21 13:35] sdrave commented on #409
If we are mainly discussing terminology, I think renaming `Discretization` to `Model` would be a way to go. In retrospective, I am not sure why we didn't use `Model` in the first place, @ftalbrecht?

What exactly do you mean by that?

Why have different classes for that? You can always ask a `Discretization` `d` if its parametric simply by looking at `d.parametric`.

In principle, I would agree th

[2017-11-21 13:37] sdrave commented on #386
Regarding the comment, see #411.

[2017-11-21 13:43] sdrave opened #412 "Merge sys-mor into master"
Before merging sys-mor into master, the following has to be done:

- [x] Make some version of pymess publicly available. (Could also be an inofficial version packaged with pyMOR. Using it could raise some warning about experimental code.)
- [x] Make pymess available on travis.
- [x] Make all tests pass on travis.
~~[ ] Add a basic sys-mor example which uses pyMOR's discretization toolkit.~~

[2017-11-21 13:43] sdrave commented on #412
I will see to the example when everything else is ready ..

[2017-11-21 13:44] sdrave commented on #291
I would propose this issue in favor of #412. Any objections, @pmli?

[2017-11-21 13:54] sdrave commented on #171
The error should be gone due to #405 ...

[2017-11-21 15:33] pmli commented on #409
`Model` sounds good to me.

For an algebraic equation A x = u or a differential equation x' = A x + B u, by "output equation" I mean something like y = C x + D u. It is possible that C = I and D = 0, but in general, the idea is to approximate the mapping from u to y (of course, with projection-based methods, one gets an approximation for x for free, but the primary goal is to approximate y well fo